Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - name: prettier-yaml
        id: prettier-yaml
        types: [yaml]
        language: system
        entry: prettier --write

      - name: shellcheck
        id: shellcheck
        files: '\.sh$'
        language: system
        entry: shellcheck

      - name: nixpkgs-fmt
        id: nixpkgs-fmt
        files: '\.nix$'
        language: system
        entry: nixpkgs-fmt

      - name: statix
        id: statix
        pass_filenames: false
        language: system
        entry: statix check .

feat(flake): validate the generated nvim init.lua in nix flake check
  CLAUDE.md
  flake.nix
Due: nixpkgs-fmt

fix(nvim): stop minuet crashing on missing API key, guard other runtime deps (#582)
  CLAUDE.md
  flake.nix
  modules/editor/nvim/ai.nix
  modules/editor/nvim/explorer.nix
  modules/editor/nvim/git.nix
  modules/editor/nvim/lsp.nix
Due: nixpkgs-fmt

feat(tmux): color window list entries for generating opencode sessions
  modules/cli/tmux/scripts/flexoki-bar.conf
Due: none

fix(tmux): clamp cpu widget reading at 100%
  modules/cli/tmux/statusbar.nix
Due: nixpkgs-fmt

fix(tmux): clamp cpu widget reading at 100% (#584)
  modules/cli/tmux/statusbar.nix
Due: nixpkgs-fmt

feat(openfortivpn): add openfortivpn via homebrew
  modules/networking/openfortivpn.nix
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

feat(openfortivpn): add openfortivpn via homebrew (#585)
  modules/networking/openfortivpn.nix
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

fix(opencode-manager): make @oc-sid pane writes reliable
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
Due: none

feat(opencode): add wtoc to move a session into a worktree
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/worktree-move.nix
Due: nixpkgs-fmt

feat(opencode): move a session into a worktree with wtoc (#586)
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/worktree-move.nix
Due: nixpkgs-fmt

fix(tmux): resolve the opencode soft dep in the session picker refresh
  modules/cli/tmux/session-picker.nix
Due: nixpkgs-fmt

feat(opencode-manager): collapse the prefix+n tui into the session picker
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode-manager/scripts/tui-list.test.sh
Due: shellcheck, nixpkgs-fmt

feat(opencode-manager): collapse the prefix+n tui into the session picker (#587)
  modules/cli/tmux/session-picker.nix
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode-manager/scripts/tui-list.test.sh
Due: shellcheck, nixpkgs-fmt

fix(hammerspoon): stop forking duplicate app instances on launch
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): stop forking duplicate app instances on launch (#588)
  modules/darwin/hammerspoon/init.lua
Due: none

fix(alt-tab): hide apps with no open window from the switcher
  modules/darwin/alt-tab/config.plist
Due: none

fix(alt-tab): hide apps with no open window from the switcher (#589)
  modules/darwin/alt-tab/config.plist
Due: none

feat(worktree): namespace new branches with git config wt.prefix
  modules/cli/worktree/worktree.nix
Due: nixpkgs-fmt

feat(worktree): namespace new branches with git config wt.prefix (#590)
  modules/cli/worktree/worktree.nix
Due: nixpkgs-fmt

fix(tmux): report real cpu usage instead of load average
  modules/cli/tmux/statusbar.nix
Due: nixpkgs-fmt

fix(tmux): report real cpu usage instead of load average (#591)
  modules/cli/tmux/statusbar.nix
Due: nixpkgs-fmt

fix(tmux): switch to another session on destroy instead of detaching
  modules/cli/tmux/tmux.nix
Due: nixpkgs-fmt

fix(tmux): switch to another session on destroy instead of detaching (#592)
  modules/cli/tmux/tmux.nix
Due: nixpkgs-fmt

feat(wispr-flow): add voice dictation app to vega
  modules/productivity/wispr-flow.nix
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

feat(wispr-flow): add voice dictation app to vega (#593)
  modules/productivity/wispr-flow.nix
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

feat(opencode): search session history from a tmux popup on prefix+n
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/scripts/oc-search.sh
  modules/dev/opencode/session-search.nix
Due: shellcheck, nixpkgs-fmt

feat(opencode): search session history from a tmux popup on prefix+n (#594)
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/scripts/oc-search.sh
  modules/dev/opencode/session-search.nix
Due: shellcheck, nixpkgs-fmt

feat(worktree): apply wt.prefix across wtpr/wts and strip it from names
  modules/cli/worktree/pr.nix
  modules/cli/worktree/stacked.nix
  modules/cli/worktree/worktree.nix
Due: nixpkgs-fmt

feat(worktree): apply wt.prefix across wtpr/wts and strip it from names (#595)
  modules/cli/worktree/pr.nix
  modules/cli/worktree/stacked.nix
  modules/cli/worktree/worktree.nix
Due: nixpkgs-fmt

feat(tmux): reuse an idle window on prefix+c instead of stacking duplicates
  modules/cli/tmux/new-window.test.sh
  modules/cli/tmux/scripts/cheatsheet.sh
  modules/cli/tmux/tmux.nix
Due: shellcheck, nixpkgs-fmt

feat(tmux): reuse an idle window on prefix+c instead of stacking duplicates (#596)
  modules/cli/tmux/new-window.test.sh
  modules/cli/tmux/scripts/cheatsheet.sh
  modules/cli/tmux/tmux.nix
Due: shellcheck, nixpkgs-fmt

fix(opencode): stay silent while subagents are still running
  modules/dev/opencode-manager/plugins/tmux-notifier.check.ts
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
Due: none

fix(opencode): stay silent while subagents are still running (#597)
  modules/dev/opencode-manager/plugins/tmux-notifier.check.ts
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
Due: none

fix(opencode): keep throwaway sessions out of the session pickers
  modules/dev/lazygit.nix
  modules/dev/linear.nix
  modules/dev/opencode/scripts/oc-search.sh
Due: shellcheck, nixpkgs-fmt

fix(opencode): keep throwaway sessions out of the session pickers (#598)
  modules/dev/lazygit.nix
  modules/dev/linear.nix
  modules/dev/opencode/scripts/oc-search.sh
Due: shellcheck, nixpkgs-fmt

fix(tmux): stop passing #{session_id} through run-shell
  modules/cli/tmux/new-window.test.sh
  modules/cli/tmux/tmux.nix
Due: shellcheck, nixpkgs-fmt

fix(tmux): stop passing #{session_id} through run-shell (#599)
  modules/cli/tmux/new-window.test.sh
  modules/cli/tmux/tmux.nix
Due: shellcheck, nixpkgs-fmt

feat(tmux): track GitHub review requests in the status bar and a popup
  modules/cli/tmux/pr.nix
  modules/cli/tmux/tmux.nix
Due: nixpkgs-fmt
