Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

prettier-yaml:
  name: prettier-yaml
  language: system
  entry: prettier --write

shellcheck:
  name: shellcheck
  language: system
  entry: shellcheck

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

feat(m1): add zen
  modules/browser/zen.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add zen (#227)
  modules/browser/zen.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add libreoffice
  modules/common/homebrew.nix
  modules/common/libreoffice.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add libreoffice (#228)
  modules/common/homebrew.nix
  modules/common/libreoffice.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(fish): improve gh aliases
  modules/common/fish.nix
Due: nixpkgs-fmt

feat(fish): improve gh aliases (#229)
  modules/common/fish.nix
Due: nixpkgs-fmt

feat(m1): add netnewswire
  modules/common/netnewswire.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add netnewswire (#230)
  modules/common/netnewswire.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add figma
  .DS_Store
  modules/common/figma.nix
  modules/common/vscode/settings.json
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add figma (#231)
  .DS_Store
  modules/common/figma.nix
  modules/common/vscode/settings.json
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add sony remote play
  modules/games/sony.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add sony remote play (#232)
  modules/games/sony.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add anki
  modules/common/anki.nix
  modules/terminal/kitty.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add anki (#233)
  modules/common/anki.nix
  modules/terminal/kitty.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(tmux): fix default shell
  modules/cli/tmux.nix
  modules/common/fish.nix
Due: nixpkgs-fmt

feat(tmux): fix default shell (#234)
  modules/cli/tmux.nix
  modules/common/fish.nix
Due: nixpkgs-fmt

feat(m1): remove amie
  modules/common/amie.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): remove amie (#235)
  modules/common/amie.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(ledger): add configs and sync
  modules/common/ledger.nix
  modules/ledger/ledger-sync.sh
  modules/ledger/ledger.nix
  modules/ledger/paisa.nix
  modules/ledger/paisa.yaml
  modules/users/m1-fernando.nix
Due: prettier-yaml, shellcheck, nixpkgs-fmt

feat(ledger): add configs and sync (#236)
  modules/common/ledger.nix
  modules/ledger/ledger-sync.sh
  modules/ledger/ledger.nix
  modules/ledger/paisa.nix
  modules/ledger/paisa.yaml
  modules/users/m1-fernando.nix
Due: prettier-yaml, shellcheck, nixpkgs-fmt

fix(paisa): fix paths
  modules/ledger/paisa.yaml
Due: prettier-yaml

fix(paisa): fix paths (#237)
  modules/ledger/paisa.yaml
Due: prettier-yaml

feat(m1): add notion calendar
  modules/common/notion-calendar.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add notion calendar (#238)
  modules/common/notion-calendar.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

fix(ledger): remove backup files in ledger sync script
  modules/common/vscode/settings.json
  modules/ledger/ledger-sync.sh
Due: shellcheck

fix(ledger): remove backup files in ledger sync script (#239)
  modules/common/vscode/settings.json
  modules/ledger/ledger-sync.sh
Due: shellcheck

feat(m1): add minikube
  modules/cli/minikube.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add minikube (#240)
  modules/cli/minikube.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add keyboardcleantool
  modules/common/keyboardcleantool.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add keyboardcleantool (#241)
  modules/common/keyboardcleantool.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add anytype
  modules/common/anytype.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add anytype (#242)
  modules/common/anytype.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add unrar
  modules/cli/unrar.nix
  modules/hosts/m1.nix
Due: nixpkgs-fmt

feat(m1): add unrar (#243)
  modules/cli/unrar.nix
  modules/hosts/m1.nix
Due: nixpkgs-fmt

feat(m1): add intellij
  modules/editor/intellij.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add intellij (#245)
  modules/editor/intellij.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): fix ledger sync
  modules/ledger/ledger-sync.sh
Due: shellcheck

feat(m1): fix ledger sync (#246)
  modules/ledger/ledger-sync.sh
Due: shellcheck

Path conditions:
  prettier-yaml: any of: \.(yaml|yml)$
  shellcheck: any of: \.sh$
  nixpkgs-fmt: any of: \.nix$
