Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, hlint, shellcheck, nixpkgs-fmt, statix, nix-linter

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - name: prettier-yaml
        id: prettier-yaml
        types: [yaml]
        language: system
        entry: prettier --write

      - name: hlint
        id: hlint
        files: '(\.hs|xmobarrc)$'
        language: system
        entry: hlint

      - name: shellcheck
        id: shellcheck
        files: '\.sh$'
        language: system
        entry: shellcheck

      - name: nixpkgs-fmt
        id: nixpkgs-fmt
        files: '\.nix$'
        language: system
        entry: nixpkgs-fmt

      - name: statix
        id: statix
        files: '\.nix$'
        language: system
        entry: statix check

      - name: nix-linter
        id: nix-linter
        files: '\.nix$'
        language: system
        entry: nix-linter

fix(pre-commit): statix hook
  .pre-commit-config.yaml
Due: prettier-yaml

feat(config): format
  hosts/common/audio.nix
  hosts/common/bluetooth.nix
  hosts/common/boot.nix
  hosts/common/common.nix
  hosts/common/console.nix
  hosts/common/docker.nix
  hosts/common/fingerprint.nix
  hosts/common/networking.nix
  hosts/common/noisetorch.nix
  hosts/common/opengl.nix
  hosts/common/ssh.nix
  hosts/common/time.nix
  hosts/common/xserver.nix
  hosts/g3.nix
  overlays/overlays.nix
  pkgs/my-vscode-extensions/my-vscode-extensions.nix
  pkgs/pkgs.nix
  users/common/alacritty.nix
  users/common/autorandr.nix
  users/common/bat.nix
  users/common/bottom.nix
  users/common/broot.nix
  users/common/chromium.nix
  users/common/direnv.nix
  users/common/disable-keyboard.nix
  users/common/exa.nix
  users/common/fish.nix
  users/common/flameshot.nix
  users/common/fzf.nix
  users/common/gpg.nix
  users/common/kitty.nix
  users/common/obs.nix
  users/common/starship.nix
  users/common/vscode/vscode.nix
  users/common/xdg.nix
  users/common/xmobar/xmobar.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(xmobar): disable alsa plugin
  users/common/xmobar/xmobarrc
Due: hlint

fix(lib): rename to mkHost
  flake.nix
  lib/lib.nix
  lib/mkHost.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(colors): add colors
  lib/replaceColors.nix
  modules/colors.nix
  users/common/colors.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(xmonad): use colors module
  users/common/xmonad/config.hs
  users/common/xmonad/xmonad.nix
Due: hlint, nixpkgs-fmt, statix, nix-linter

feat(xmobar): use colors module
  users/common/xmobar/xmobar.nix
  users/common/xmobar/xmobarrc
Due: hlint, nixpkgs-fmt, statix, nix-linter

feat(vscode): symlink configs out of store
  users/common/vscode/keybindings.json
  users/common/vscode/settings.json
  users/common/vscode/vscode.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(xmobar): add multicore temp
  users/common/xmobar/xmobarrc
Due: hlint

feat(xmonad): add wallpaper
  modules/wallpaper.nix
  users/common/wallpaper/m9ooj8.jpg
  users/common/wallpaper/wallpaper.nix
  users/common/xmonad/xmonad.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(xmonad): manage hook
  users/common/xmonad/config.hs
Due: hlint

feat(ytmdesktop): add theme file
  users/common/ytmdesktop.nix
  users/common/ytmdesktop/theme.css
  users/common/ytmdesktop/ytmdesktop.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add vim extension
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(xmonad): format and small changes
  users/common/xmonad/config.hs
Due: hlint

feat(vscode): update settings
  users/common/vscode/settings.json
Due: none

feat(xmonad): add peek manage hook
  users/common/xmonad/config.hs
Due: hlint

feat(glab): add glab
  users/common/glab.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(responsively): add responsively pkg
  pkgs/pkgs.nix
  pkgs/responsively.nix
  users/common/responsively.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(git): set /dotfiles as safe directory for root
  hosts/common/nix.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(nixos-rebuild): disable sudo password
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(rofi): add config
  users/common/rofi.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode-typescript): update files on move
  users/common/vscode/settings.json
Due: none

feat(dmenu): customization
  overlays/dmenu.nix
  overlays/overlays.nix
  users/common/xmonad/config.hs
Due: hlint, nixpkgs-fmt, statix, nix-linter

feat(overlay): organize
  flake.nix
  overlay/dmenu.nix
  overlay/kitty-themes.nix
  overlay/overlay.nix
  overlays/overlays.nix
  pkgs/pkgs.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(nixos-rebuild): use system-path bin
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(wallpaper): use xmonad to set wallpaper
  lib/replaceWallpaper.nix
  users/common/xmonad/config.hs
  users/common/xmonad/xmonad.nix
Due: hlint, nixpkgs-fmt, statix, nix-linter

fix(wallpaper): use zoom param
  users/common/xmonad/config.hs
Due: hlint

feat(ticktick): add ticktick
  pkgs/pkgs.nix
  pkgs/ticktick.nix
  users/common/ticktick.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(xmonad): add ticktick scratchpad
  users/common/xmonad/config.hs
Due: hlint

feat(neovide): add neovide
  users/common/neovim.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(neovide): add neovide (#1)
  users/common/neovim.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(feh): add feh
  users/common/feh.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(feh): add feh (#2)
  users/common/feh.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(noto-fonts-cjk): add noto-fonts-cjk
  hosts/common/fonts.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(noto-fonts-cjk): add noto-fonts-cjk (#3)
  hosts/common/fonts.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): update settings and extensions
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): update settings and extensions (#4)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
Due: nixpkgs-fmt, statix, nix-linter
