Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - name: prettier-yaml
        id: prettier-yaml
        types: [yaml]
        language: system
        entry: prettier --write

      - name: shellcheck
        id: shellcheck
        files: '\.sh$'
        language: system
        entry: shellcheck

      - name: nixpkgs-fmt
        id: nixpkgs-fmt
        files: '\.nix$'
        language: system
        entry: nixpkgs-fmt

      - name: statix
        id: statix
        pass_filenames: false
        language: system
        entry: statix check .

feat(linear): add image attachments to lin create and sort issues (#428)
  modules/dev/linear.nix
Due: nixpkgs-fmt

fix(hammerspoon): add logs and fix small bugs
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): add logs and fix small bugs (#429)
  modules/darwin/hammerspoon/init.lua
Due: none

feat(opencode-manager): improve tmux session syncing
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/oc-sync-sid.sh
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode/server.nix
Due: shellcheck, nixpkgs-fmt

feat(opencode-manager): improve tmux session syncing (#430)
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/oc-sync-sid.sh
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode/server.nix
Due: shellcheck, nixpkgs-fmt

feat(linear): add assign_to_me option for lin ai
  modules/dev/linear.nix
Due: nixpkgs-fmt

feat(linear): add assign_to_me option for lin ai (#431)
  modules/dev/linear.nix
Due: nixpkgs-fmt

feat(flake): update
  CLAUDE.md
  flake.lock
  flake.nix
  lib/mkUser.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/patches/cursor-style-and-blink.patch
  modules/editor/nvim/lsp.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(flake): update (#433)
  CLAUDE.md
  flake.lock
  flake.nix
  lib/mkUser.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/patches/cursor-style-and-blink.patch
  modules/editor/nvim/lsp.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(playwright): add cli with skills
  modules/dev/playwright-cli.nix
Due: nixpkgs-fmt

feat(playwright): add cli with skills (#435)
  modules/dev/playwright-cli.nix
Due: nixpkgs-fmt

fix(opencode): fix server
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/server.nix
Due: nixpkgs-fmt

fix(opencode): fix server (#436)
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/server.nix
Due: nixpkgs-fmt

feat(flake): update
  flake.lock
  flake.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/patches/generate-remove-prettier.patch
Due: nixpkgs-fmt

feat(flake): update (#437)
  flake.lock
  flake.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/patches/generate-remove-prettier.patch
Due: nixpkgs-fmt

feat(tmux): add pocket
  modules/cli/tmux/pocket.nix
  modules/cli/tmux/tmux.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(tmux): add pocket (#438)
  modules/cli/tmux/pocket.nix
  modules/cli/tmux/tmux.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

fix(opencode-manager): fix sync, notifier, popup, goto, etc
  lib/mkUserModule.nix
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/plugins/pane-mapping.ts
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
  modules/dev/opencode-manager/scripts/oc-sync-sid.sh
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode/server.nix
Due: shellcheck, nixpkgs-fmt

fix(opencode-manager): fix sync, notifier, popup, goto, etc (#439)
  lib/mkUserModule.nix
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/plugins/pane-mapping.ts
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
  modules/dev/opencode-manager/scripts/oc-sync-sid.sh
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode/server.nix
Due: shellcheck, nixpkgs-fmt

fix(opencode): remove notifier and improve tmux notifier with sounds
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

fix(opencode): remove notifier and improve tmux notifier with sounds (#440)
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

fix(hammerspoon): disable app nap and handle power and session events
  modules/darwin/hammerspoon/hammerspoon.nix
  modules/darwin/hammerspoon/init.lua
Due: nixpkgs-fmt

fix(hammerspoon): disable app nap and handle power and session events (#441)
  modules/darwin/hammerspoon/hammerspoon.nix
  modules/darwin/hammerspoon/init.lua
Due: nixpkgs-fmt

fix(opencode): fix model variants
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

fix(opencode): fix model variants (#442)
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

feat(hammerspoon): add arrow key blocker
  modules/darwin/hammerspoon/init.lua
Due: none

feat(hammerspoon): add arrow key blocker (#443)
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): fix arrow blocker for hyper+hjkl
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): fix arrow blocker for hyper+hjkl (#444)
  modules/darwin/hammerspoon/init.lua
Due: none

chore(hammerspoon): add more logs
  modules/darwin/hammerspoon/init.lua
Due: none

chore(hammerspoon): add more logs (#445)
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): get current active session in hyper+c
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): get current active session in hyper+c (#446)
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): prevent garbage collection of long-lived observer objects
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): prevent garbage collection of long-lived observer objects (#447)
  modules/darwin/hammerspoon/init.lua
Due: none

fix(opencode): bump anthropic auth to fix claude
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

fix(opencode): bump anthropic auth to fix claude (#448)
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

feat(firefox): per-profile .app bundles with distinct Cmd+Tab identity
  modules/browser/firefox.nix
  modules/browser/firefox/firefox.nix
  modules/browser/firefox/profile-apps.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt
