Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - name: prettier-yaml
        id: prettier-yaml
        types: [yaml]
        language: system
        entry: prettier --write

      - name: shellcheck
        id: shellcheck
        files: '\.sh$'
        language: system
        entry: shellcheck

      - name: nixpkgs-fmt
        id: nixpkgs-fmt
        files: '\.nix$'
        language: system
        entry: nixpkgs-fmt

      - name: statix
        id: statix
        pass_filenames: false
        language: system
        entry: statix check .

feat(media): add Neural Amp Modeler app and AU/VST3 plugins
  modules/media/neural-amp-modeler.nix
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

feat(media): ship sample NAM models and cab IRs
  modules/media/neural-amp-modeler.nix
Due: nixpkgs-fmt

fix(media): copy NAM sample library so the open panel can browse it
  modules/media/neural-amp-modeler.nix
Due: nixpkgs-fmt

feat(tmux): pane split/resize/join binds and vim-tmux-navigator
  modules/cli/tmux/tmux.nix
  modules/editor/nvim/nvim.nix
Due: nixpkgs-fmt

feat(tmux): pane split/resize/join binds and vim-tmux-navigator (#742)
  modules/cli/tmux/tmux.nix
  modules/editor/nvim/nvim.nix
Due: nixpkgs-fmt

feat(worktree): create PR worktrees from the tmux PR popup via wt
  modules/cli/tmux/pr.nix
  modules/cli/worktree/pr.nix
  modules/cli/worktree/worktree.nix
Due: nixpkgs-fmt

feat(worktree): create PR worktrees from the tmux PR popup via wt (#743)
  modules/cli/tmux/pr.nix
  modules/cli/worktree/pr.nix
  modules/cli/worktree/worktree.nix
Due: nixpkgs-fmt

feat(slack): Later popup with channel grouping, full pagination
  modules/chat/slack/README.md
  modules/chat/slack/later-pane.sh
  modules/chat/slack/later-pane.test.sh
  modules/chat/slack/later.nix
  modules/chat/slack/later.sh
  modules/chat/slack/later.test.sh
Due: shellcheck, nixpkgs-fmt

feat(slack): Later popup with channel grouping, full pagination (#744)
  modules/chat/slack/README.md
  modules/chat/slack/later-pane.sh
  modules/chat/slack/later-pane.test.sh
  modules/chat/slack/later.nix
  modules/chat/slack/later.sh
  modules/chat/slack/later.test.sh
Due: shellcheck, nixpkgs-fmt

feat(todoist): remind-me-in-10m for the morning review and the picker
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(todoist): remind-me-in-10m for the morning review and the picker (#745)
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(claude-code): add /ship slash command
  modules/dev/claude-code/claude-code.nix
  modules/dev/claude-code/ship.md
Due: nixpkgs-fmt

feat(omo): ship /ship as an omo command instead of a claude-code one
  modules/dev/claude-code.nix
  modules/dev/claude-code/ship.md
  modules/dev/omo/omo.nix
  modules/dev/omo/ship/index.ts
  modules/dev/omo/ship/ship.md
Due: nixpkgs-fmt

feat(omo): add /continue prompt template
  modules/dev/omo/omo.nix
  modules/dev/omo/prompts/continue.md
Due: nixpkgs-fmt

feat(ship): add /ship omo prompt template
  modules/dev/omo/omo.nix
  modules/dev/omo/ship/index.ts
  modules/dev/omo/ship/ship.md
  modules/dev/ship/ship.md
  modules/dev/ship/ship.nix
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

feat(ship): trim /ship to the essentials
  modules/dev/ship/ship.md
  modules/dev/ship/ship.nix
Due: nixpkgs-fmt

feat(omo): make /continue an extension that resumes without a visible message
  modules/dev/omo/continue.ts
  modules/dev/omo/omo.nix
  modules/dev/omo/prompts/continue.md
Due: nixpkgs-fmt

feat(ship): shape /ship around what past ship turns wasted
  modules/dev/ship/ship.md
Due: none

feat(omo): add /y as the short alias of /continue
  modules/dev/omo/continue.ts
Due: none

feat(ship): run /ship discovery in an omo extension before the turn
  modules/dev/ship/extension/index.ts
  modules/dev/ship/extension/ship.md
  modules/dev/ship/ship.nix
Due: nixpkgs-fmt

feat(omo): make /continue a real continue through the session lifecycle
  modules/dev/omo/continue.ts
  modules/dev/omo/omo.nix
Due: nixpkgs-fmt

feat(omo): git and PR state in the sidebar
  modules/dev/omo/ui/core/git.ts
  modules/dev/omo/ui/core/limits.ts
  modules/dev/omo/ui/core/lock.ts
  modules/dev/omo/ui/core/store.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/sidebar.ts
Due: none

fix(omo): ellipsis on a long PR base branch
  modules/dev/omo/ui/sidebar.ts
Due: none

fix(polaris): unbreak eval and catch it on pre-push
  .pre-commit-config.yaml
  modules/browser/finicky.nix
Due: prettier-yaml, nixpkgs-fmt

fix(polaris): unbreak eval and catch it on pre-push (#749)
  .pre-commit-config.yaml
  modules/browser/finicky.nix
Due: prettier-yaml, nixpkgs-fmt

feat(omo): /wt moves the session into a worktree
  modules/cli/worktree/worktree.nix
  modules/dev/omo/omo.nix
  modules/dev/omo/tmux-wt.ts
Due: nixpkgs-fmt

feat(omo): /wt moves the session into a worktree (#750)
  modules/cli/worktree/worktree.nix
  modules/dev/omo/omo.nix
  modules/dev/omo/tmux-wt.ts
Due: nixpkgs-fmt

feat(ship): make /ship generic and minimal
  modules/dev/ship/extension/index.ts
  modules/dev/ship/extension/ship.md
  modules/dev/ship/ship.nix
Due: nixpkgs-fmt

feat(ship): add /ship omo command (#746)
  modules/dev/ship/extension/index.ts
  modules/dev/ship/extension/ship.md
  modules/dev/ship/ship.nix
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

feat(omo): add /retry as the short alias of /continue
  modules/dev/omo/continue.ts
Due: none

feat(omo): add /continue to resume cancelled or errored turns (#747)
  modules/dev/omo/continue.ts
  modules/dev/omo/omo.nix
Due: nixpkgs-fmt

feat(omo): git section at the bottom of the sidebar, above the warnings
  modules/dev/omo/ui/sidebar.ts
Due: none

feat(omo): compact, coloured git section in the sidebar
  modules/dev/omo/ui/sidebar.ts
Due: none

feat(omo): git and PR state in the sidebar (#748)
  modules/dev/omo/ui/core/git.ts
  modules/dev/omo/ui/core/limits.ts
  modules/dev/omo/ui/core/lock.ts
  modules/dev/omo/ui/core/store.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/sidebar.ts
Due: none

feat(i-have-adhd): make agents act instead of handing over steps
  modules/dev/i-have-adhd/i-have-adhd.md
  modules/dev/i-have-adhd/i-have-adhd.nix
Due: nixpkgs-fmt

feat(i-have-adhd): make agents act instead of handing over steps (#751)
  modules/dev/i-have-adhd/i-have-adhd.md
  modules/dev/i-have-adhd/i-have-adhd.nix
Due: nixpkgs-fmt

feat(worktree): set up pool slots ahead of time and keep them current
  modules/cli/worktree/stack.nix
  modules/cli/worktree/worktree.nix
  modules/cli/worktree/wts.sh
  modules/dev/omo/agent/agent.ts
Due: shellcheck, nixpkgs-fmt

feat(worktree): set up pool slots ahead of time and keep them current (#752)
  modules/cli/worktree/stack.nix
  modules/cli/worktree/worktree.nix
  modules/cli/worktree/wts.sh
  modules/dev/omo/agent/agent.ts
Due: shellcheck, nixpkgs-fmt

fix(worktree): wtrm kills a stack root's layer sessions by start path
  modules/cli/worktree/worktree.nix
Due: nixpkgs-fmt

fix(worktree): wtrm kills a stack root's layer sessions by start path (#753)
  modules/cli/worktree/worktree.nix
Due: nixpkgs-fmt
