Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - name: prettier-yaml
        id: prettier-yaml
        types: [yaml]
        language: system
        entry: prettier --write

      - name: shellcheck
        id: shellcheck
        files: '\.sh$'
        language: system
        entry: shellcheck

      - name: nixpkgs-fmt
        id: nixpkgs-fmt
        files: '\.nix$'
        language: system
        entry: nixpkgs-fmt

      - name: statix
        id: statix
        pass_filenames: false
        language: system
        entry: statix check .

feat(tmux): multi monitor grouping (#306)
  modules/terminal/ghostty.nix
  overlay/pkgs/tmux-extras/cheatsheet.sh
  overlay/pkgs/tmux-extras/tmux-attach.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
  overlay/pkgs/tmux-extras/tmux-group.sh
  overlay/pkgs/tmux-extras/tmux-ungroup.sh
Due: shellcheck, nixpkgs-fmt

feat(nvim): full setup + upgrades
  modules/editor/nvim.nix
  modules/terminal/ghostty.nix
Due: nixpkgs-fmt

feat(nvim): full setup + upgrades (#307)
  modules/editor/nvim.nix
  modules/terminal/ghostty.nix
Due: nixpkgs-fmt

chore(git): remove .DS_Store
  .DS_Store
  .gitignore
Due: none

chore(git): remove .DS_Store (#308)
  .DS_Store
  .gitignore
Due: none

feat(tmux): global binds
  modules/cli/fish.nix
  modules/cli/tmux.nix
  modules/darwin/hammerspoon/init.lua
Due: nixpkgs-fmt

feat(tmux): global binds (#309)
  modules/cli/fish.nix
  modules/cli/tmux.nix
  modules/darwin/hammerspoon/init.lua
Due: nixpkgs-fmt

feat(m1): remove opencode desktop
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): remove opencode desktop (#310)
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

fix(hammerspoon): remove config watcher
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): remove config watcher (#311)
  modules/darwin/hammerspoon/init.lua
Due: none

feat(tmux): inherit current pane directory
  modules/cli/tmux.nix
Due: nixpkgs-fmt

feat(tmux): inherit current pane directory (#312)
  modules/cli/tmux.nix
Due: nixpkgs-fmt

fix(opencode): remove supress when focused
  modules/dev/opencode.nix
Due: nixpkgs-fmt

fix(opencode): remove supress when focused (#313)
  modules/dev/opencode.nix
Due: nixpkgs-fmt

feat(tmux): improve bar and auto renumber
  modules/cli/tmux.nix
  overlay/pkgs/flexoki-tmux/flexoki-bar.conf
Due: nixpkgs-fmt

feat(tmux): improve bar and auto renumber (#314)
  modules/cli/tmux.nix
  overlay/pkgs/flexoki-tmux/flexoki-bar.conf
Due: nixpkgs-fmt

feat(hammerspoon): faster and fix stuck hyper
  modules/darwin/hammerspoon/init.lua
Due: none

feat(hammerspoon): faster and fix stuck hyper (#315)
  modules/darwin/hammerspoon/init.lua
Due: none

feat(tmux): nerd font window name
  modules/cli/tmux.nix
  overlay/pkgs/flexoki-tmux/flexoki-bar.conf
  overlay/pkgs/pkgs.nix
  overlay/pkgs/tmux-nerd-font-window-name/tmux-nerd-font-window-name.nix
Due: nixpkgs-fmt

feat(tmux): nerd font window name (#316)
  modules/cli/tmux.nix
  overlay/pkgs/flexoki-tmux/flexoki-bar.conf
  overlay/pkgs/pkgs.nix
  overlay/pkgs/tmux-nerd-font-window-name/tmux-nerd-font-window-name.nix
Due: nixpkgs-fmt

feat(hammerspoon): add hyper+space toggle
  modules/darwin/hammerspoon/init.lua
Due: none

feat(hammerspoon): add hyper+space toggle (#317)
  modules/darwin/hammerspoon/init.lua
Due: none

feat(claude): add claude.md
  CLAUDE.md
Due: none

feat(claude): add claude.md (#318)
  CLAUDE.md
Due: none

fix(tmux): fix path widget home replace
  overlay/pkgs/tmux-extras/path-widget.sh
Due: shellcheck

fix(tmux): fix path widget home replace (#319)
  overlay/pkgs/tmux-extras/path-widget.sh
Due: shellcheck

feat(hammerspoon): add hyper+c to open cursor
  modules/darwin/hammerspoon/init.lua
Due: none

feat(hammerspoon): add hyper+c to open cursor (#320)
  modules/darwin/hammerspoon/init.lua
Due: none

feat(opencode): add oh-my-opencode
  modules/dev/opencode.nix
Due: nixpkgs-fmt

feat(opencode): add oh-my-opencode (#321)
  modules/dev/opencode.nix
Due: nixpkgs-fmt

feat(hammerspoon): open cursor at git root
  modules/darwin/hammerspoon/init.lua
Due: none

feat(hammerspoon): open cursor at git root (#323)
  modules/darwin/hammerspoon/init.lua
Due: none

feat(opencode): add worktree
  modules/dev/opencode.nix
Due: nixpkgs-fmt

feat(opencode): add worktree (#324)
  modules/dev/opencode.nix
Due: nixpkgs-fmt

feat(opencode): add figma-developer-mcp
  modules/dev/opencode.nix
  overlay/pkgs/figma-developer-mcp.nix
Due: nixpkgs-fmt

feat(opencode): add figma-developer-mcp (#325)
  modules/dev/opencode.nix
  overlay/pkgs/figma-developer-mcp.nix
Due: nixpkgs-fmt

fix(hammerspoon): fix watcher and f18 callback
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): fix watcher and f18 callback (#326)
  modules/darwin/hammerspoon/init.lua
Due: none
