Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

prettier-yaml:
  name: prettier-yaml
  language: system
  entry: prettier --write

shellcheck:
  name: shellcheck
  language: system
  entry: shellcheck

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

fix(antiburn): stop every session fingerprint scanning the whole opencode db
  modules/dev/antiburn/cluster-join-order.patch
  modules/dev/antiburn/package.nix
Due: nixpkgs-fmt

chore: update the flake, and drop three workarounds it made redundant
  flake.lock
  flake.nix
  modules/cli/worktree/stacked.nix
  modules/dev/antiburn/package.nix
  modules/dev/opencode/agentation-mcp.nix
  modules/dev/opencode/figma-developer-mcp.nix
  modules/editor/vscode/vscode.nix
Due: nixpkgs-fmt

chore: update the flake, and drop three workarounds it made redundant (#655)
  flake.lock
  flake.nix
  modules/cli/worktree/stacked.nix
  modules/dev/antiburn/package.nix
  modules/dev/opencode/agentation-mcp.nix
  modules/dev/opencode/figma-developer-mcp.nix
  modules/editor/vscode/vscode.nix
Due: nixpkgs-fmt

fix(todoist): stop the popup closing from killing the completion write
  modules/cli/todoist.nix
Due: nixpkgs-fmt

fix(todoist): stop the popup closing from killing the completion write (#656)
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(codegraph): run codegraph from nixpkgs, not oh-my-openagent's pin
  modules/dev/opencode/codegraph.nix
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

feat(codegraph): run codegraph from nixpkgs, not oh-my-openagent's pin (#657)
  modules/dev/opencode/codegraph.nix
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

feat(anydesk): add the AnyDesk cask
  modules/productivity/anydesk.nix
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

feat(anydesk): add the AnyDesk cask (#658)
  modules/productivity/anydesk.nix
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

feat(slack): fetch and cache Later items from a dedicated browser
  modules/chat/slack/later.sh
  modules/chat/slack/later.test.sh
Due: shellcheck

feat(slack): add a searchable read-only Later pane
  modules/chat/slack/later-pane.sh
  modules/chat/slack/later-pane.test.sh
Due: shellcheck

feat(vega): enable Telepatia Later in tmux
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

feat(slack): wire the optional tmux widget and pane
  modules/chat/slack.nix
  modules/chat/slack/later.nix
  modules/chat/slack/slack.nix
Due: nixpkgs-fmt

fix(slack): keep the Later pane responsive during initial refresh
  modules/chat/slack/later-pane.sh
  modules/chat/slack/later-pane.test.sh
  modules/chat/slack/later.sh
  modules/chat/slack/later.test.sh
Due: shellcheck

docs(slack): explain dedicated profile sign-in and renewal
  modules/chat/slack/README.md
Due: none

feat(slack): add Later statusbar count and task pane (#659)
  modules/chat/slack.nix
  modules/chat/slack/README.md
  modules/chat/slack/later-pane.sh
  modules/chat/slack/later-pane.test.sh
  modules/chat/slack/later.nix
  modules/chat/slack/later.sh
  modules/chat/slack/later.test.sh
  modules/chat/slack/slack.nix
  modules/users/vega-fernando.nix
Due: shellcheck, nixpkgs-fmt

feat(antiburn): read OpenCode's OAuth store when the CLI's own token lapses
  modules/dev/antiburn/opencode-auth-carrier.patch
  modules/dev/antiburn/package.nix
Due: nixpkgs-fmt

feat(antiburn): read OpenCode's OAuth store when the CLI's own token lapses (#660)
  modules/dev/antiburn/opencode-auth-carrier.patch
  modules/dev/antiburn/package.nix
Due: nixpkgs-fmt

fix(slack): stop standalone reminders inflating the Later count
  modules/chat/slack/later.sh
  modules/chat/slack/later.test.sh
Due: shellcheck

fix(slack): stop standalone reminders inflating the Later count (#661)
  modules/chat/slack/later.sh
  modules/chat/slack/later.test.sh
Due: shellcheck

feat(opencode): add /show-me for visual explanations
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/show-me.md
  modules/dev/opencode/show-me.nix
Due: nixpkgs-fmt

feat(opencode): add /show-me for visual explanations (#662)
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/show-me.md
  modules/dev/opencode/show-me.nix
Due: nixpkgs-fmt

fix(tmux): fill the message line so the status bar stops showing through
  modules/cli/tmux/scripts/flexoki-bar.conf
Due: none

fix(opencode): stop notifications overwriting tmux's global message style
  modules/dev/opencode-manager/scripts/opencode-manager.sh
Due: shellcheck

fix(tmux): stop the status bar showing through command and confirmation prompts
  modules/cli/tmux/scripts/flexoki-bar.conf
  modules/dev/opencode-manager/scripts/opencode-manager.sh
Due: shellcheck

fix(slack): stop undated saved messages painting the Later bar red
  modules/chat/slack/later.sh
  modules/chat/slack/later.test.sh
Due: shellcheck

fix(slack): stop undated saved messages painting the Later bar red (#664)
  modules/chat/slack/later.sh
  modules/chat/slack/later.test.sh
Due: shellcheck

fix(opencode): retry spliced Anthropic streams instead of killing the run
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/patches/retry-spliced-anthropic-stream.patch
Due: nixpkgs-fmt

fix(opencode): retry spliced Anthropic streams instead of killing the run (#665)
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/patches/retry-spliced-anthropic-stream.patch
Due: nixpkgs-fmt

fix(opencode): bump anthropic-auth to v1.8.5 for Opus 5.5 access
  modules/dev/opencode/anthropic-auth.nix
Due: nixpkgs-fmt

feat(opencode): default Sisyphus, Prometheus and Metis to Opus 5.5
  modules/dev/opencode/omo.nix
Due: nixpkgs-fmt

feat(opencode): default the Opus agents to Opus 5.5 (#666)
  modules/dev/opencode/anthropic-auth.nix
  modules/dev/opencode/omo.nix
Due: nixpkgs-fmt

feat(opencode): move the GPT agents to GPT-6
  modules/dev/opencode/omo.nix
Due: nixpkgs-fmt

feat(opencode): move the GPT agents to GPT-6 (#667)
  modules/dev/opencode/omo.nix
Due: nixpkgs-fmt

feat(opencode): add cross-provider fallbacks and beta.84's model picks
  modules/dev/opencode/omo.nix
Due: nixpkgs-fmt

feat(opencode): add cross-provider fallbacks and beta.84's model picks (#668)
  modules/dev/opencode/omo.nix
Due: nixpkgs-fmt

fix(opencode): run sisyphus at xhigh effort instead of max
  modules/dev/opencode/omo.nix
Due: nixpkgs-fmt

fix(opencode): run sisyphus at xhigh effort instead of max (#669)
  modules/dev/opencode/omo.nix
Due: nixpkgs-fmt

feat(vicinae): add Vicinae launcher on cmd+space, Raycast moves to opt+cmd+space
  modules/darwin/vicinae.nix
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

Path conditions:
  prettier-yaml: any of: \.(yaml|yml)$
  shellcheck: any of: \.sh$
  nixpkgs-fmt: any of: \.nix$
