Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - name: prettier-yaml
        id: prettier-yaml
        types: [yaml]
        language: system
        entry: prettier --write

      - name: shellcheck
        id: shellcheck
        files: '\.sh$'
        language: system
        entry: shellcheck

      - name: nixpkgs-fmt
        id: nixpkgs-fmt
        files: '\.nix$'
        language: system
        entry: nixpkgs-fmt

      - name: statix
        id: statix
        pass_filenames: false
        language: system
        entry: statix check .

feat(rtk): intercept ls and grep (#367)
  modules/dev/opencode.nix
  modules/dev/rtk.nix
Due: nixpkgs-fmt

feat(shell): add nixd
  flake.nix
Due: nixpkgs-fmt

feat(shell): add nixd (#368)
  flake.nix
Due: nixpkgs-fmt

feat(opencode): add agentation mcp
  modules/dev/opencode.nix
  overlay/pkgs/agentation-mcp.nix
  overlay/pkgs/pkgs.nix
Due: nixpkgs-fmt

feat(opencode): add agentation mcp (#370)
  modules/dev/opencode.nix
  overlay/pkgs/agentation-mcp.nix
  overlay/pkgs/pkgs.nix
Due: nixpkgs-fmt

fix(fish): fix labels in linar create
  modules/cli/fish.nix
Due: nixpkgs-fmt

fix(fish): fix labels in linar create (#371)
  modules/cli/fish.nix
Due: nixpkgs-fmt

fix(linear): preserve markdown links in lin description output
  modules/cli/fish.nix
  modules/dev/opencode.nix
  overlay/pkgs/linear-cli.nix
Due: nixpkgs-fmt

fix(linear): preserve markdown links in lin description output (#372)
  modules/cli/fish.nix
  modules/dev/opencode.nix
  overlay/pkgs/linear-cli.nix
Due: nixpkgs-fmt

feat(opencode): add cursor style and blink config
  modules/dev/opencode.nix
  modules/dev/patches/cursor-style-and-blink.patch
Due: nixpkgs-fmt

feat(opencode): add cursor style and blink config (#373)
  modules/dev/opencode.nix
  modules/dev/patches/cursor-style-and-blink.patch
Due: nixpkgs-fmt

feat(hammerspoon): add ipc
  modules/darwin/hammerspoon/init.lua
Due: none

feat(hammerspoon): add ipc (#374)
  modules/darwin/hammerspoon/init.lua
Due: none

feat(fish): use lin in wt cli
  modules/cli/fish.nix
Due: nixpkgs-fmt

feat(fish): use lin in wt cli (#375)
  modules/cli/fish.nix
Due: nixpkgs-fmt

fix(opencode): inline theme
  modules/dev/opencode.nix
Due: nixpkgs-fmt

fix(opencode): inline theme (#376)
  modules/dev/opencode.nix
Due: nixpkgs-fmt

fix(hammerspoon): allow apple script
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): allow apple script (#377)
  modules/darwin/hammerspoon/init.lua
Due: none

feat(m1): add claude
  modules/dev/claude.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add claude (#378)
  modules/dev/claude.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(opencode): update to 1.3.5
  flake.lock
  flake.nix
  modules/dev/opencode.nix
  modules/dev/patches/cursor-style-and-blink.patch
Due: nixpkgs-fmt

feat(opencode): update to 1.3.5 (#379)
  flake.lock
  flake.nix
  modules/dev/opencode.nix
  modules/dev/patches/cursor-style-and-blink.patch
Due: nixpkgs-fmt

feat(opencode): add server with attach
  modules/dev/opencode.nix
Due: nixpkgs-fmt

feat(opencode): add server with attach (#380)
  modules/dev/opencode.nix
Due: nixpkgs-fmt

fix(rtk): exclude find command
  modules/dev/rtk.nix
Due: nixpkgs-fmt

fix(rtk): exclude find command (#381)
  modules/dev/rtk.nix
Due: nixpkgs-fmt

feat(tmux): add agent prompt for spawning opencode agents
  modules/cli/tmux.nix
  overlay/pkgs/tmux-extras/agent-prompt.sh
  overlay/pkgs/tmux-extras/cheatsheet.sh
  overlay/pkgs/tmux-extras/spawn-agent.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
Due: shellcheck, nixpkgs-fmt

feat(tmux): add agent prompt for spawning opencode agents (#382)
  modules/cli/tmux.nix
  overlay/pkgs/tmux-extras/agent-prompt.sh
  overlay/pkgs/tmux-extras/cheatsheet.sh
  overlay/pkgs/tmux-extras/spawn-agent.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
Due: shellcheck, nixpkgs-fmt

feat(tmux): replace notify panel with opencode manager
  modules/cli/tmux.nix
  overlay/pkgs/tmux-extras/notify-panel.sh
  overlay/pkgs/tmux-extras/notify-widget.sh
  overlay/pkgs/tmux-extras/notify.sh
  overlay/pkgs/tmux-extras/opencode-generating.sh
  overlay/pkgs/tmux-extras/opencode-manager.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
Due: shellcheck, nixpkgs-fmt

feat(tmux): replace notify panel with opencode manager (#383)
  modules/cli/tmux.nix
  overlay/pkgs/tmux-extras/notify-panel.sh
  overlay/pkgs/tmux-extras/notify-widget.sh
  overlay/pkgs/tmux-extras/notify.sh
  overlay/pkgs/tmux-extras/opencode-generating.sh
  overlay/pkgs/tmux-extras/opencode-manager.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
Due: shellcheck, nixpkgs-fmt

fix(opencode): fix title and remove anthropic auth overlay
  flake.lock
  flake.nix
  modules/dev/opencode.nix
  modules/dev/rtk.nix
  overlay/pkgs/opencode-anthropic-auth/bun.nix
  overlay/pkgs/opencode-anthropic-auth/opencode-anthropic-auth.nix
  overlay/pkgs/pkgs.nix
Due: nixpkgs-fmt

fix(opencode): fix title and remove anthropic auth overlay (#384)
  flake.lock
  flake.nix
  modules/dev/opencode.nix
  modules/dev/rtk.nix
  overlay/pkgs/opencode-anthropic-auth/bun.nix
  overlay/pkgs/opencode-anthropic-auth/opencode-anthropic-auth.nix
  overlay/pkgs/pkgs.nix
Due: nixpkgs-fmt

fix(fish): delete upstream branchs in ghpm
  modules/cli/fish.nix
Due: nixpkgs-fmt

fix(fish): delete upstream branchs in ghpm (#385)
  modules/cli/fish.nix
Due: nixpkgs-fmt

feat(nvim): add neo tree
  modules/editor/nvim.nix
Due: nixpkgs-fmt

feat(nvim): add neo tree (#386)
  modules/editor/nvim.nix
Due: nixpkgs-fmt

feat(nixd): add config
  .nixd.json
Due: none

feat(nixd): add config (#387)
  .nixd.json
Due: none
