Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - name: prettier-yaml
        id: prettier-yaml
        types: [yaml]
        language: system
        entry: prettier --write

      - name: shellcheck
        id: shellcheck
        files: '\.sh$'
        language: system
        entry: shellcheck

      - name: nixpkgs-fmt
        id: nixpkgs-fmt
        files: '\.nix$'
        language: system
        entry: nixpkgs-fmt

      - name: statix
        id: statix
        pass_filenames: false
        language: system
        entry: statix check .

feat(vicinae): add Vicinae launcher on cmd+space, Raycast moves to opt+cmd+space (#670)
  modules/darwin/vicinae.nix
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

refactor(worktree): drop the git-stack-cli stacks and wtsl
  modules/cli/worktree/linear-stacked.nix
  modules/cli/worktree/stacked.nix
  modules/cli/worktree/worktree.nix
Due: nixpkgs-fmt

feat(worktree): add wts, stacked PRs as one worktree per PR for agents
  modules/cli/worktree/stack.nix
  modules/cli/worktree/worktree.nix
  modules/cli/worktree/wts.sh
Due: shellcheck, nixpkgs-fmt

feat(worktree): make wtrm and wtmv aware of stacks
  modules/cli/worktree/worktree.nix
Due: nixpkgs-fmt

feat(tmux): nest stack layers in the session picker and mark dead sessions
  modules/cli/tmux/session-picker.nix
Due: nixpkgs-fmt

feat(worktree): run stacked PRs as one worktree per PR with wts (#671)
  modules/cli/tmux/session-picker.nix
  modules/cli/worktree/linear-stacked.nix
  modules/cli/worktree/stack.nix
  modules/cli/worktree/stacked.nix
  modules/cli/worktree/worktree.nix
  modules/cli/worktree/wts.sh
Due: shellcheck, nixpkgs-fmt

fix(tmux): read root sessions' path from their active pane in the session picker
  modules/cli/tmux/session-picker.nix
Due: nixpkgs-fmt

fix(tmux): read root sessions' path from their active pane in the session picker (#672)
  modules/cli/tmux/session-picker.nix
Due: nixpkgs-fmt

feat(opencode): ban time estimates in i-have-adhd and take upstream's rule 9
  modules/dev/opencode/i-have-adhd.md
  modules/dev/opencode/i-have-adhd.nix
Due: nixpkgs-fmt

feat(opencode): ban time estimates in i-have-adhd and take upstream's rule 9 (#673)
  modules/dev/opencode/i-have-adhd.md
  modules/dev/opencode/i-have-adhd.nix
Due: nixpkgs-fmt

feat(git): push to the same-named branch, and lease only on tips you have seen
  modules/dev/git.nix
Due: nixpkgs-fmt

feat(worktree): drop wts push for plain git push, and pre-approve wts next:
  modules/cli/worktree/stack.nix
  modules/cli/worktree/wts.sh
Due: shellcheck, nixpkgs-fmt

fix(worktree): never take an agents/* session for a worktree's own
  modules/cli/worktree/wts.sh
Due: shellcheck

feat(worktree): push wts stacks with plain git, and stop agents asking first (#674)
  modules/cli/worktree/stack.nix
  modules/cli/worktree/wts.sh
  modules/dev/git.nix
Due: shellcheck, nixpkgs-fmt

fix(tmux): drop agents' sh default-command when a session is renamed out of agents/*
  modules/cli/tmux/tmux.nix
Due: nixpkgs-fmt

fix(tmux): drop agents' sh default-command when a session is renamed out of agents/* (#675)
  modules/cli/tmux/tmux.nix
Due: nixpkgs-fmt

fix(tmux): nest session picker rows by session name instead of wts stacks
  modules/cli/tmux/session-picker.nix
  modules/cli/tmux/session-picker.test.sh
Due: shellcheck, nixpkgs-fmt

fix(tmux): nest session picker rows by session name instead of wts stacks (#676)
  modules/cli/tmux/session-picker.nix
  modules/cli/tmux/session-picker.test.sh
Due: shellcheck, nixpkgs-fmt

fix(worktree): skip replaying a layer onto trunk in wts rm when its PR merged too
  modules/cli/worktree/wts.sh
Due: shellcheck

fix(worktree): skip replaying a layer onto trunk in wts rm when its PR merged too (#677)
  modules/cli/worktree/wts.sh
Due: shellcheck

chore(opencode): remove Cursor ACP provider and open-cursor plugin
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

chore(opencode): remove Cursor ACP provider and open-cursor plugin (#678)
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

fix(claude-code): bump to 2.1.283 so Opus 5.5 is accepted
  modules/dev/claude-code.nix
Due: nixpkgs-fmt

feat(omo): add OmO Native with a tmux notifier and bar icon
  modules/dev/omo/omo.nix
  modules/dev/omo/tmux-notifier.check.ts
  modules/dev/omo/tmux-notifier.ts
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

fix(opencode): keep omo.jsonc usable by OmO Native
  modules/dev/opencode/omo.nix
Due: nixpkgs-fmt

feat(opencode-manager): read agent pane commands from a config file
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/opencode-manager.sh
Due: shellcheck, nixpkgs-fmt

feat(opencode): install show-me, autoresearch and ponytail for omo too
  modules/dev/opencode/autoresearch.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/ponytail.nix
  modules/dev/opencode/show-me.nix
Due: nixpkgs-fmt

feat(linear): add /lin to omo
  modules/dev/linear/lin.ts
  modules/dev/linear/linear.nix
Due: nixpkgs-fmt

feat(omo): add OmO Native and plug it into the tmux workflow (#679)
  modules/dev/claude-code.nix
  modules/dev/linear/lin.ts
  modules/dev/linear/linear.nix
  modules/dev/omo/omo.nix
  modules/dev/omo/tmux-notifier.check.ts
  modules/dev/omo/tmux-notifier.ts
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode/autoresearch.nix
  modules/dev/opencode/omo.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/ponytail.nix
  modules/dev/opencode/show-me.nix
  modules/users/vega-fernando.nix
Due: shellcheck, nixpkgs-fmt

feat(omo): fullscreen Flexoki TUI with startup clutter off
  modules/dev/omo/flexoki.json
  modules/dev/omo/omo.nix
Due: nixpkgs-fmt

feat(omo): opencode-style UI extension
  modules/dev/omo/omo.nix
  modules/dev/omo/ui/codemode.ts
  modules/dev/omo/ui/footer.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/prompt.ts
  modules/dev/omo/ui/sidebar.ts
  modules/dev/omo/ui/stats.ts
  modules/dev/omo/ui/tools.ts
  modules/dev/omo/ui/turn.ts
Due: nixpkgs-fmt

feat(omo): opencode-style fullscreen TUI (#680)
  modules/dev/omo/flexoki.json
  modules/dev/omo/omo.nix
  modules/dev/omo/ui/codemode.ts
  modules/dev/omo/ui/footer.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/prompt.ts
  modules/dev/omo/ui/sidebar.ts
  modules/dev/omo/ui/stats.ts
  modules/dev/omo/ui/tools.ts
  modules/dev/omo/ui/turn.ts
Due: nixpkgs-fmt

fix(omo): hold completion notification while wake sources are live
  modules/dev/omo/tmux-notifier.check.ts
  modules/dev/omo/tmux-notifier.ts
Due: none

fix(omo): hold completion notification while wake sources are live (#681)
  modules/dev/omo/tmux-notifier.check.ts
  modules/dev/omo/tmux-notifier.ts
Due: none

fix(tmux): use tmux-256color so italics render as italics
  modules/cli/tmux/tmux.nix
Due: nixpkgs-fmt

feat(omo): opencode-style session picker and TUI fixes
  modules/dev/omo/flexoki.json
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/prompt.ts
  modules/dev/omo/ui/sessions.ts
  modules/dev/omo/ui/sidebar.ts
  modules/dev/omo/ui/stats.ts
  modules/dev/omo/ui/tools.ts
Due: none

feat(omo): opencode-style session picker and TUI fixes (#682)
  modules/cli/tmux/tmux.nix
  modules/dev/omo/flexoki.json
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/prompt.ts
  modules/dev/omo/ui/sessions.ts
  modules/dev/omo/ui/sidebar.ts
  modules/dev/omo/ui/stats.ts
  modules/dev/omo/ui/tools.ts
Due: nixpkgs-fmt

feat(omo): dark modal backdrop and opencode-style session picker layout
  modules/dev/omo/ui/backdrop.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/sessions.ts
  modules/dev/omo/ui/sidebar.ts
Due: none

feat(omo): dark modal backdrop and opencode-style session picker layout (#683)
  modules/dev/omo/ui/backdrop.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/sessions.ts
  modules/dev/omo/ui/sidebar.ts
Due: none

refactor(omo): ui core abstractions
  modules/dev/omo/ui/backdrop.ts
  modules/dev/omo/ui/codemode.ts
  modules/dev/omo/ui/core/card.ts
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/core/intents.ts
  modules/dev/omo/ui/core/modal.ts
  modules/dev/omo/ui/core/store.ts
  modules/dev/omo/ui/core/style.ts
  modules/dev/omo/ui/core/types.ts
  modules/dev/omo/ui/footer.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/prompt.ts
  modules/dev/omo/ui/sessions.ts
  modules/dev/omo/ui/sidebar.ts
  modules/dev/omo/ui/stats.ts
  modules/dev/omo/ui/tools.ts
  modules/dev/omo/ui/turn.ts
Due: none
