Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - name: prettier-yaml
        id: prettier-yaml
        types: [yaml]
        language: system
        entry: prettier --write

      - name: shellcheck
        id: shellcheck
        files: '\.sh$'
        language: system
        entry: shellcheck

      - name: nixpkgs-fmt
        id: nixpkgs-fmt
        files: '\.nix$'
        language: system
        entry: nixpkgs-fmt

      - name: statix
        id: statix
        pass_filenames: false
        language: system
        entry: statix check .

feat(linear): mirror assigned issues into Todoist
  modules/dev/linear/linear.nix
  modules/dev/linear/todoist-mirror-test.sh
  modules/dev/linear/todoist-mirror.nix
  modules/users/vega-fernando.nix
Due: shellcheck, nixpkgs-fmt

feat(linear): mirror assigned issues into Todoist (#619)
  modules/dev/linear/linear.nix
  modules/dev/linear/todoist-mirror-test.sh
  modules/dev/linear/todoist-mirror.nix
  modules/users/vega-fernando.nix
Due: shellcheck, nixpkgs-fmt

chore(linear): remove the Todoist mirror
  modules/dev/linear/linear.nix
  modules/dev/linear/todoist-mirror-test.sh
  modules/dev/linear/todoist-mirror.nix
  modules/users/vega-fernando.nix
Due: shellcheck, nixpkgs-fmt

feat(todoist): default the task list to today, all tasks on tab
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(todoist): default the task list to today, all tasks on tab (#620)
  modules/cli/todoist.nix
  modules/dev/linear/linear.nix
  modules/dev/linear/todoist-mirror-test.sh
  modules/dev/linear/todoist-mirror.nix
  modules/users/vega-fernando.nix
Due: shellcheck, nixpkgs-fmt

feat(todoist): smart-sort the list and open tasks in the pane
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(todoist): smart-sort the list and open tasks in the pane (#621)
  modules/cli/todoist.nix
Due: nixpkgs-fmt

fix(lazygit): bind prefix+l to a lazygit split that actually opens
  modules/dev/lazygit.nix
Due: nixpkgs-fmt

fix(lazygit): bind prefix+l to a lazygit split that actually opens (#622)
  modules/dev/lazygit.nix
Due: nixpkgs-fmt

chore(cold-turkey-blocker): disable for vega
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

chore(cold-turkey-blocker): disable for vega (#623)
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

feat(todoist): gate the day behind a 6am task review
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(todoist): gate the day behind a 6am task review (#624)
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(tmux): count PRs opened and reviewed today beside the review queue
  modules/cli/tmux/pr.nix
  modules/cli/tmux/pr.test.sh
Due: shellcheck, nixpkgs-fmt

feat(tmux): count PRs opened and reviewed today beside the review queue (#625)
  modules/cli/tmux/pr.nix
  modules/cli/tmux/pr.test.sh
Due: shellcheck, nixpkgs-fmt

chore(tmux): drop the grouped-session binds prefix+g and prefix+G
  modules/cli/tmux/group.nix
  modules/cli/tmux/pr.nix
  modules/cli/tmux/scripts/cheatsheet.sh
  modules/cli/tmux/tmux.nix
Due: shellcheck, nixpkgs-fmt

chore(tmux): drop the grouped-session binds prefix+g and prefix+G (#626)
  modules/cli/tmux/group.nix
  modules/cli/tmux/pr.nix
  modules/cli/tmux/scripts/cheatsheet.sh
  modules/cli/tmux/tmux.nix
Due: shellcheck, nixpkgs-fmt

feat(todoist): push, edit and label tasks from the picker
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(todoist): push, edit and label tasks from the picker (#627)
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(todoist): complete tasks optimistically, sync in the background
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(todoist): complete tasks optimistically, sync in the background (#628)
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(todoist): edit tasks in the pane you read them in
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(todoist): edit tasks in the pane you read them in (#629)
  modules/cli/todoist.nix
Due: nixpkgs-fmt

fix(todoist): keep the list intact in the detail screen's left pane
  modules/cli/todoist.nix
Due: nixpkgs-fmt

fix(todoist): keep the list intact in the detail screen's left pane (#630)
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(hammerspoon): spend hyper+T on tasks instead of a new terminal window
  modules/darwin/hammerspoon/init.lua
Due: none

feat(hammerspoon): spend hyper+T on tasks instead of a new terminal window (#631)
  modules/darwin/hammerspoon/init.lua
Due: none

fix(openclaw): drop the dead garnix binary cache
  flake.nix
  modules/dev/openclaw.nix
Due: nixpkgs-fmt

fix(openclaw): drop the dead garnix binary cache (#632)
  flake.nix
  modules/dev/openclaw.nix
Due: nixpkgs-fmt

feat(todoist): undo the last completion with ctrl-z
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(todoist): undo the last completion with ctrl-z (#633)
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(todoist): open the current view on the web, not the current task
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(todoist): open the current view on the web, not the current task (#634)
  modules/cli/todoist.nix
Due: nixpkgs-fmt

feat(opencode): make the prefix+n session search land where you meant
  modules/dev/opencode/scripts/oc-search.sh
Due: shellcheck

feat(opencode): make the prefix+n session search land where you meant (#635)
  modules/dev/opencode/scripts/oc-search.sh
Due: shellcheck

fix(opencode): keep the preview gutter unbroken across wrapped lines
  modules/dev/opencode/scripts/oc-search.sh
Due: shellcheck

fix(opencode): keep the preview gutter unbroken across wrapped lines (#636)
  modules/dev/opencode/scripts/oc-search.sh
Due: shellcheck

fix(opencode): stop the edit tool from eating dollar signs
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/patches/edit-tool-dollar-substitution.patch
Due: nixpkgs-fmt

fix(opencode): stop the edit tool from eating dollar signs (#637)
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/patches/edit-tool-dollar-substitution.patch
Due: nixpkgs-fmt

feat(worktree): land in a new worktree instantly instead of waiting for it
  modules/cli/worktree/worktree.nix
  modules/dev/git.nix
  modules/dev/opencode/worktree-move.nix
Due: nixpkgs-fmt
