Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

prettier-yaml:
  name: prettier-yaml
  language: system
  entry: prettier --write

shellcheck:
  name: shellcheck
  language: system
  entry: shellcheck

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

feat(lazygit): trim side panels to files, branches and commits
  modules/dev/lazygit.nix
Due: nixpkgs-fmt

feat(tmux): restore each agent pane to its own session
  modules/cli/tmux/resurrect-agents.sh
  modules/cli/tmux/resurrect.nix
  modules/cli/tmux/resurrect.test.sh
Due: shellcheck, nixpkgs-fmt

feat(lazygit): delta diff renderer and quieter UI (#702)
  modules/dev/lazygit.nix
Due: nixpkgs-fmt

feat(tmux): restore each agent pane to its own session (#703)
  modules/cli/tmux/resurrect-agents.sh
  modules/cli/tmux/resurrect.nix
  modules/cli/tmux/resurrect.test.sh
Due: shellcheck, nixpkgs-fmt

feat(tmux): switch panes with Option+hjkl, no prefix
  modules/cli/tmux/tmux.nix
Due: nixpkgs-fmt

feat(tmux): switch panes with Option+hjkl, no prefix (#704)
  modules/cli/tmux/tmux.nix
Due: nixpkgs-fmt

fix(hammerspoon): drop proactive 30s event tap recreation
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): drop proactive 30s event tap recreation (#705)
  modules/darwin/hammerspoon/init.lua
Due: none

fix(vicinae): keep extension manager bundle out of macOS tmp cleanup
  modules/darwin/vicinae.nix
Due: nixpkgs-fmt

fix(vicinae): keep extension manager bundle out of macOS tmp cleanup (#706)
  modules/darwin/vicinae.nix
Due: nixpkgs-fmt

feat(agent-path): block agents from posting GitHub comments and reviews
  modules/dev/agent-path/gh.sh
Due: shellcheck

feat(agent-path): block agents from posting GitHub comments and reviews (#707)
  modules/dev/agent-path/gh.sh
Due: shellcheck

fix(omo): keep tool schema descriptions and require eval summary
  modules/dev/omo/omo.nix
Due: nixpkgs-fmt

fix(omo): keep tool schema descriptions and require eval summary (#708)
  modules/dev/omo/omo.nix
Due: nixpkgs-fmt

feat(omo): add /orchestrate to hand a fix to a new agent
  modules/dev/omo/agents/index.ts
Due: none

feat(omo): add /orchestrate to hand a fix to a new agent (#709)
  modules/dev/omo/agents/index.ts
Due: none

chore(omo): bump to 5.1.2
  modules/dev/omo/omo.nix
Due: nixpkgs-fmt

chore(omo): bump to 5.1.2 (#710)
  modules/dev/omo/omo.nix
Due: nixpkgs-fmt

feat(vicinae): add Left/Right Half snap commands and camera alias
  modules/darwin/vicinae-snap.lua
  modules/darwin/vicinae.nix
Due: nixpkgs-fmt

feat(vicinae): add Left/Right Half snap commands and camera alias (#711)
  modules/darwin/vicinae-snap.lua
  modules/darwin/vicinae.nix
Due: nixpkgs-fmt

chore(antiburn): remove module; limits move to the omo sidebar
  modules/dev/antiburn/antiburn.nix
  modules/dev/antiburn/cluster-join-order.patch
  modules/dev/antiburn/opencode-auth-carrier.patch
  modules/dev/antiburn/package.nix
  modules/dev/antiburn/sqlite-connection-reuse.patch
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

feat(omo): show Claude and Codex limits with pace in the sidebar
  modules/dev/omo/ui/core/limits.ts
  modules/dev/omo/ui/sidebar.ts
Due: none

feat(omo): show subscription limits with pace in the sidebar, drop antiburn (#712)
  modules/dev/antiburn/antiburn.nix
  modules/dev/antiburn/cluster-join-order.patch
  modules/dev/antiburn/opencode-auth-carrier.patch
  modules/dev/antiburn/package.nix
  modules/dev/antiburn/sqlite-connection-reuse.patch
  modules/dev/omo/ui/core/limits.ts
  modules/dev/omo/ui/sidebar.ts
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

fix(omo): use a shorter pace marker in the sidebar limit bars
  modules/dev/omo/ui/sidebar.ts
Due: none

fix(omo): use a shorter pace marker in the sidebar limit bars (#713)
  modules/dev/omo/ui/sidebar.ts
Due: none

fix(omo): show extension statuses in the custom footer
  modules/dev/omo/ui/footer.ts
Due: none

feat(omo): draw built-in tool rows as compact cards
  modules/dev/omo/ui/codemode.ts
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/rows.ts
  modules/dev/omo/ui/tools.ts
Due: none

feat(omo): add an onWidgetContent host hook for restyling any widget
  modules/dev/omo/ui/core/host.ts
Due: none

feat(omo): move the nested AGENTS.md widget into the sidebar
  modules/dev/omo/ui/core/store.ts
  modules/dev/omo/ui/sidebar.ts
Due: none

feat(omo): draw built-in transcript notices as cards
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/entries.ts
  modules/dev/omo/ui/index.ts
Due: none

feat(omo): draw the /btw side answer as a card above the prompt
  modules/dev/omo/ui/btw.ts
  modules/dev/omo/ui/index.ts
Due: none

feat(omo): show multi-line notices and extension dialogs as modals
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/dialogs.ts
  modules/dev/omo/ui/index.ts
Due: none

feat(omo): draw built-in tool rows as compact cards (#718)
  modules/dev/omo/ui/codemode.ts
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/rows.ts
  modules/dev/omo/ui/tools.ts
Due: none

fix(omo): show extension statuses in the custom footer (#714)
  modules/dev/omo/ui/footer.ts
Due: none

feat(omo): draw built-in transcript notices as cards (#715)
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/entries.ts
  modules/dev/omo/ui/index.ts
Due: none

feat(omo): show multi-line notices and extension dialogs as modals (#717)
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/dialogs.ts
  modules/dev/omo/ui/index.ts
Due: none

feat(omo): move the prompt's stock widgets into the sidebar and a /btw card (#716)
  modules/dev/omo/ui/btw.ts
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/core/store.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/sidebar.ts
Due: none

feat(omo): opencode-style model and thinking pickers
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/pickers.ts
Due: none

feat(omo): show the git branch in the footer
  modules/dev/omo/ui/footer.ts
Due: none

feat(omo): opencode-style status line, queued messages and terminal title
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/status.ts
Due: none

Path conditions:
  prettier-yaml: any of: \.(yaml|yml)$
  shellcheck: any of: \.sh$
  nixpkgs-fmt: any of: \.nix$
