Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

prettier-yaml:
  name: prettier-yaml
  language: system
  entry: prettier --write

shellcheck:
  name: shellcheck
  language: system
  entry: shellcheck

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

refactor(config): move legacy modules to mk user module (#408)
  modules/browser/arc.nix
  modules/browser/zen.nix
  modules/chat/zoom.nix
  modules/cli/bottom.nix
  modules/cli/broot.nix
  modules/cli/neofetch.nix
  modules/darwin/karabiner/karabiner.nix
  modules/dev/glab.nix
  modules/dev/insomnia.nix
  modules/dev/opencode-desktop.nix
  modules/dev/rust.nix
  modules/editor/conductor.nix
  modules/media/krita.nix
  modules/media/mpv.nix
  modules/media/obs.nix
  modules/media/vlc.nix
  modules/networking/pritunl.nix
  modules/productivity/openclaw.nix
  modules/terminal/alacritty.nix
  modules/terminal/kitty.nix
  modules/terminal/warp.nix
  modules/terminal/wezterm.nix
Due: nixpkgs-fmt

refactor(config): add mk system module
  lib/mkSystemModule.nix
  modules/cli/unrar.nix
  modules/cli/wget.nix
  modules/darwin/darwin-default.nix
  modules/darwin/sudo-touchid.nix
  modules/darwin/watcher.nix
  modules/fonts/caskaydia-cove.nix
  modules/system/homebrew.nix
  modules/system/nix.nix
  modules/system/pkg-config.nix
  modules/system/sshd.nix
Due: nixpkgs-fmt

refactor(config): add mk system module (#409)
  lib/mkSystemModule.nix
  modules/cli/unrar.nix
  modules/cli/wget.nix
  modules/darwin/darwin-default.nix
  modules/darwin/sudo-touchid.nix
  modules/darwin/watcher.nix
  modules/fonts/caskaydia-cove.nix
  modules/system/homebrew.nix
  modules/system/nix.nix
  modules/system/pkg-config.nix
  modules/system/sshd.nix
Due: nixpkgs-fmt

refactor(config): add discover modules
  lib/discoverModules.nix
  lib/mkDarwinHost.nix
  lib/user-bootstrap.nix
  modules/hosts/m1.nix
Due: nixpkgs-fmt

refactor(config): add discover modules (#410)
  lib/discoverModules.nix
  lib/mkDarwinHost.nix
  lib/user-bootstrap.nix
  modules/hosts/m1.nix
Due: nixpkgs-fmt

refactor(config): add mk user fn
  CLAUDE.md
  lib/mkDarwinHost.nix
  lib/mkUser.nix
  lib/user-bootstrap.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

refactor(config): add mk user fn (#411)
  CLAUDE.md
  lib/mkDarwinHost.nix
  lib/mkUser.nix
  lib/user-bootstrap.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

refactor(config): improve mk darwin host
  CLAUDE.md
  flake.nix
  lib/mkDarwinHost.nix
  lib/mkUser.nix
  modules/hosts/m1.nix
Due: nixpkgs-fmt

refactor(config): improve mk darwin host (#412)
  CLAUDE.md
  flake.nix
  lib/mkDarwinHost.nix
  lib/mkUser.nix
  modules/hosts/m1.nix
Due: nixpkgs-fmt

refactor(tmux): add parts
  CLAUDE.md
  modules/cli/tmux.nix
  modules/cli/tmux/cheatsheet.nix
  modules/cli/tmux/group.nix
  modules/cli/tmux/opencode.nix
  modules/cli/tmux/remote.nix
  modules/cli/tmux/scripts/cheatsheet.sh
  modules/cli/tmux/scripts/flexoki-bar.conf
  modules/cli/tmux/scripts/flexoki.tmux
  modules/cli/tmux/scripts/git-status.sh
  modules/cli/tmux/scripts/notify.sh
  modules/cli/tmux/scripts/opencode-manager.sh
  modules/cli/tmux/scripts/remote.sh
  modules/cli/tmux/statusbar.nix
  modules/cli/tmux/theme.nix
  modules/cli/tmux/tmux.nix
  modules/dev/opencode/opencode.nix
  modules/terminal/ghostty.nix
  overlay/pkgs/flexoki-tmux/flexoki-tmux.nix
  overlay/pkgs/pkgs.nix
  overlay/pkgs/tmux-extras/agent-prompt.sh
  overlay/pkgs/tmux-extras/battery-widget.sh
  overlay/pkgs/tmux-extras/git-root-path.sh
  overlay/pkgs/tmux-extras/notify-widget.sh
  overlay/pkgs/tmux-extras/opencode-generating.sh
  overlay/pkgs/tmux-extras/path-widget.sh
  overlay/pkgs/tmux-extras/remote-widget.sh
  overlay/pkgs/tmux-extras/spawn-agent.sh
  overlay/pkgs/tmux-extras/status-right.sh
  overlay/pkgs/tmux-extras/tmux-attach.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
  overlay/pkgs/tmux-extras/tmux-group.sh
  overlay/pkgs/tmux-extras/tmux-ungroup.sh
  overlay/pkgs/tmux-nerd-font-window-name/tmux-nerd-font-window-name.nix
Due: shellcheck, nixpkgs-fmt

refactor(tmux): add parts (#413)
  CLAUDE.md
  modules/cli/tmux.nix
  modules/cli/tmux/cheatsheet.nix
  modules/cli/tmux/group.nix
  modules/cli/tmux/opencode.nix
  modules/cli/tmux/remote.nix
  modules/cli/tmux/scripts/cheatsheet.sh
  modules/cli/tmux/scripts/flexoki-bar.conf
  modules/cli/tmux/scripts/flexoki.tmux
  modules/cli/tmux/scripts/git-status.sh
  modules/cli/tmux/scripts/notify.sh
  modules/cli/tmux/scripts/opencode-manager.sh
  modules/cli/tmux/scripts/remote.sh
  modules/cli/tmux/statusbar.nix
  modules/cli/tmux/theme.nix
  modules/cli/tmux/tmux.nix
  modules/dev/opencode/opencode.nix
  modules/terminal/ghostty.nix
  overlay/pkgs/flexoki-tmux/flexoki-tmux.nix
  overlay/pkgs/pkgs.nix
  overlay/pkgs/tmux-extras/agent-prompt.sh
  overlay/pkgs/tmux-extras/battery-widget.sh
  overlay/pkgs/tmux-extras/git-root-path.sh
  overlay/pkgs/tmux-extras/notify-widget.sh
  overlay/pkgs/tmux-extras/opencode-generating.sh
  overlay/pkgs/tmux-extras/path-widget.sh
  overlay/pkgs/tmux-extras/remote-widget.sh
  overlay/pkgs/tmux-extras/spawn-agent.sh
  overlay/pkgs/tmux-extras/status-right.sh
  overlay/pkgs/tmux-extras/tmux-attach.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
  overlay/pkgs/tmux-extras/tmux-group.sh
  overlay/pkgs/tmux-extras/tmux-ungroup.sh
  overlay/pkgs/tmux-nerd-font-window-name/tmux-nerd-font-window-name.nix
Due: shellcheck, nixpkgs-fmt

refactor(overlay): move pkgs to modules
  CLAUDE.md
  flake.nix
  lib/mkDarwinHost.nix
  modules/cli/readwise.nix
  modules/dev/linear.nix
  modules/dev/opencode/agentation-mcp.nix
  modules/dev/opencode/agentation.nix
  modules/dev/opencode/figma-developer-mcp.nix
  modules/dev/opencode/framelink.nix
  modules/dev/opencode/opencode.nix
  modules/ledger/paisa.nix
  overlay/overlay.nix
  overlay/pkgs/linear-cli.nix
  overlay/pkgs/paisa.nix
  overlay/pkgs/pkgs.nix
  overlay/pkgs/readwise-cli.nix
Due: nixpkgs-fmt

refactor(overlay): move pkgs to modules (#414)
  CLAUDE.md
  flake.nix
  lib/mkDarwinHost.nix
  modules/cli/readwise.nix
  modules/dev/linear.nix
  modules/dev/opencode/agentation-mcp.nix
  modules/dev/opencode/agentation.nix
  modules/dev/opencode/figma-developer-mcp.nix
  modules/dev/opencode/framelink.nix
  modules/dev/opencode/opencode.nix
  modules/ledger/paisa.nix
  overlay/overlay.nix
  overlay/pkgs/linear-cli.nix
  overlay/pkgs/paisa.nix
  overlay/pkgs/pkgs.nix
  overlay/pkgs/readwise-cli.nix
Due: nixpkgs-fmt

feat(linear): start gum write for lin ai
  modules/dev/linear.nix
Due: nixpkgs-fmt

feat(linear): start gum write for lin ai (#415)
  modules/dev/linear.nix
Due: nixpkgs-fmt

feat(opencode-manager): move to a separated module
  modules/cli/tmux/tmux.nix
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/notify.sh
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/users/m1-fernando.nix
Due: shellcheck, nixpkgs-fmt

feat(opencode-manager): move to a separated module (#416)
  modules/cli/tmux/tmux.nix
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/notify.sh
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/users/m1-fernando.nix
Due: shellcheck, nixpkgs-fmt

feat(opencode): add ensure server
  modules/dev/opencode/server.nix
Due: nixpkgs-fmt

feat(opencode): add ensure server (#417)
  modules/dev/opencode/server.nix
Due: nixpkgs-fmt

fix(opencode): path direnv plugin to work with server
  modules/dev/opencode/direnv-plugin.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/patches/direnv-plugin.patch
  modules/dev/opencode/server.nix
Due: nixpkgs-fmt

fix(opencode): path direnv plugin to work with server (#418)
  modules/dev/opencode/direnv-plugin.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/patches/direnv-plugin.patch
  modules/dev/opencode/server.nix
Due: nixpkgs-fmt

fix(opencode): fix lin command
  modules/cli/tmux/theme.nix
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

fix(opencode): fix lin command (#419)
  modules/cli/tmux/theme.nix
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

feat(opencode-manager): improve cli, pane mapping, fix small bugs
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/plugins/pane-mapping.ts
  modules/dev/opencode-manager/scripts/notify.sh
  modules/dev/opencode-manager/scripts/opencode-manager.sh
Due: shellcheck, nixpkgs-fmt

feat(opencode-manager): improve cli, pane mapping, fix small bugs (#420)
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/plugins/pane-mapping.ts
  modules/dev/opencode-manager/scripts/notify.sh
  modules/dev/opencode-manager/scripts/opencode-manager.sh
Due: shellcheck, nixpkgs-fmt

feat(opencode): update to v1.4.0
  flake.lock
  flake.nix
  modules/dev/opencode/patches/cursor-style-and-blink.patch
Due: nixpkgs-fmt

feat(opencode): update to v1.4.0 (#421)
  flake.lock
  flake.nix
  modules/dev/opencode/patches/cursor-style-and-blink.patch
Due: nixpkgs-fmt

fix(opencode-server): wait for shutdown when restarting
  modules/dev/opencode/server.nix
Due: nixpkgs-fmt

fix(opencode-server): wait for shutdown when restarting (#422)
  modules/dev/opencode/server.nix
Due: nixpkgs-fmt

fix(opencode): enable mcp parts by default but disable them inside opencode
  modules/dev/opencode/agentation.nix
  modules/dev/opencode/framelink.nix
Due: nixpkgs-fmt

fix(opencode): enable mcp parts by default but disable them inside opencode (#423)
  modules/dev/opencode/agentation.nix
  modules/dev/opencode/framelink.nix
Due: nixpkgs-fmt

feat(zoxide): handle any other worktree path
  modules/cli/zoxide.nix
Due: nixpkgs-fmt

feat(zoxide): handle any other worktree path (#424)
  modules/cli/zoxide.nix
Due: nixpkgs-fmt

feat(linear): add edit with ai to lin ai
  modules/dev/linear.nix
Due: nixpkgs-fmt

feat(linear): add edit with ai to lin ai (#425)
  modules/dev/linear.nix
Due: nixpkgs-fmt

fix(linear): show full ai log in lin ai
  modules/dev/linear.nix
Due: nixpkgs-fmt

fix(linear): show full ai log in lin ai (#426)
  modules/dev/linear.nix
Due: nixpkgs-fmt

fix(hammerspoon): fix event tap disabling
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): fix event tap disabling (#427)
  modules/darwin/hammerspoon/init.lua
Due: none

feat(linear): add image attachments to lin create and sort issues
  modules/dev/linear.nix
Due: nixpkgs-fmt

Path conditions:
  prettier-yaml: any of: \.(yaml|yml)$
  shellcheck: any of: \.sh$
  nixpkgs-fmt: any of: \.nix$
