Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, hlint, shellcheck, nixpkgs-fmt, statix, nix-linter

prettier-yaml:
  name: prettier-yaml
  language: system
  entry: prettier --write

hlint:
  name: hlint
  language: system
  entry: hlint

shellcheck:
  name: shellcheck
  language: system
  entry: shellcheck

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix check

nix-linter:
  name: nix-linter
  language: system
  entry: nix-linter

feat(scratchpads): add obsidian scratchpad
  users/common/xmonad/config.hs
Due: hlint

feat(scratchpads): add obsidian scratchpad (#5)
  users/common/xmonad/config.hs
Due: hlint

feat(wallpaper): update wallpaper
  users/common/wallpaper/wallpaper.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(wallpaper): update wallpaper (#6)
  users/common/wallpaper/wallpaper.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(libreoffice): add libreoffice
  users/common/libreoffice.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(libreoffice): add libreoffice (#7)
  users/common/libreoffice.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(dbeaver): add dbeaver
  users/common/dbeaver.nix
  users/common/vscode/settings.json
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(dbeaver): add dbeaver
  users/common/dbeaver.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(dbeaver): add dbeaver (#9)
  users/common/dbeaver.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode-prettier): use single quote
  users/common/vscode/settings.json
Due: none

feat(vscode-prettier): use single quote (#10)
  users/common/vscode/settings.json
Due: none

feat(xmonad-tab-layout): move to bottom
  users/common/xmonad/config.hs
Due: hlint

feat(xmonad-tab-layout): move to bottom (#11)
  users/common/xmonad/config.hs
Due: hlint

fix(vscode-settings): show snippets on bottom
  users/common/vscode/settings.json
Due: none

fix(vscode-settings): show snippets on bottom (#12)
  users/common/vscode/settings.json
Due: none

feat(vscode-extensions): add styled-components
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode-extensions): add styled-components (#13)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(wallpaper): update wallpaper (#14)
  users/common/wallpaper/wallpaper.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode-extensions): add format-toggle
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode-extensions): add format-toggle (#15)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode-settings): update settings
  users/common/vscode/settings.json
Due: none

feat(vscode-settings): update settings (#16)
  users/common/vscode/settings.json
Due: none

feat(dunst): add dunst
  users/common/dunst.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(dunst): add dunst (#17)
  users/common/dunst.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode-extensions): remove format-toggle
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode-extensions): remove format-toggle (#18)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
Due: nixpkgs-fmt, statix, nix-linter

feat(update): update
  flake.lock
Due: none

feat(vscode-extensions): improve update script
  pkgs/my-vscode-extensions/update.sh
Due: shellcheck

feat(vscode-extensions): improve update script (#20)
  pkgs/my-vscode-extensions/update.sh
Due: shellcheck

feat(vscode-extensions): update extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode-extensions): update extensions (#21)
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(xmonad): showWName bg color
  users/common/xmonad/config.hs
Due: hlint

feat(xmonad): showWName bg color (#22)
  users/common/xmonad/config.hs
Due: hlint

feat(vscode): add ruler
  users/common/vscode/settings.json
Due: none

feat(vscode): add ruler (#23)
  users/common/vscode/settings.json
Due: none

feat(update): update
  flake.lock
  flake.nix
  hosts/common/noisetorch.nix
  hosts/g3.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(update): update (#24)
  flake.lock
  flake.nix
  hosts/common/noisetorch.nix
  hosts/g3.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode-settings): typescript import project relative
  users/common/vscode/settings.json
Due: none

feat(vscode-settings): typescript import project relative (#25)
  users/common/vscode/settings.json
Due: none

Path conditions:
  prettier-yaml: any of: \.(yaml|yml)$
  hlint: any of: (\.hs|xmobarrc)$
  shellcheck: any of: \.sh$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  nix-linter: any of: \.nix$
