Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, hlint, shellcheck, nixpkgs-fmt, statix, nix-linter

prettier-yaml:
  name: prettier-yaml
  language: system
  entry: prettier --write

hlint:
  name: hlint
  language: system
  entry: hlint

shellcheck:
  name: shellcheck
  language: system
  entry: shellcheck

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix check

nix-linter:
  name: nix-linter
  language: system
  entry: nix-linter

feat(discord): update to v0.0.20
  overlay/discord.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(discord): update to v0.0.20 (#166)
  overlay/discord.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(emacs): truncate lines in org mode
  users/common/emacs/init.el
Due: none

feat(emacs): truncate lines in org mode (#167)
  users/common/emacs/init.el
Due: none

feat(emacs): add org-roam-note-insert keybind
  users/common/emacs/init.el
Due: none

feat(emacs): add org-roam-note-insert keybind (#168)
  users/common/emacs/init.el
Due: none

feat(home): add syncthing
  users/common/syncthing.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add syncthing (#169)
  users/common/syncthing.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(host): add syncthing
  hosts/common/syncthing.nix
  hosts/g3.nix
  users/common/syncthing.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(host): add syncthing (#170)
  hosts/common/syncthing.nix
  hosts/g3.nix
  users/common/syncthing.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): enable stickyScroll
  users/common/vscode/settings.json
Due: none

feat(vscode): enable stickyScroll (#171)
  users/common/vscode/settings.json
Due: none

feat(emacs): add undo-tree configs
  users/common/emacs/init.el
Due: none

feat(emacs): add undo-tree configs (#172)
  users/common/emacs/init.el
Due: none

feat(update): update
  flake.lock
Due: none

feat(update): update (#173)
  flake.lock
Due: none

fix(vscode): fix gitlens extension
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/vscode.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(vscode): fix gitlens extension (#174)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/vscode.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add github extension
  pkgs/my-vscode-extensions/extensions
  users/common/vscode/vscode.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add github extension (#175)
  pkgs/my-vscode-extensions/extensions
  users/common/vscode/vscode.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add lisp extension
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add lisp extension (#176)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(emacs): fix run-with-timer
  users/common/emacs/init.el
Due: none

fix(emacs): fix run-with-timer (#177)
  users/common/emacs/init.el
Due: none

feat(pkgs): remove unused pkgs
  devShells/devShells.nix
  pkgs/bookcut.nix
  pkgs/mov-cli.nix
  pkgs/pkgs.nix
  pkgs/responsively.nix
  users/common/bookcut.nix
  users/common/mov-cli.nix
  users/common/responsively.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(pkgs): remove unused pkgs (#178)
  devShells/devShells.nix
  pkgs/bookcut.nix
  pkgs/mov-cli.nix
  pkgs/pkgs.nix
  pkgs/responsively.nix
  users/common/bookcut.nix
  users/common/mov-cli.nix
  users/common/responsively.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(darwin): m1
  .gitignore
  flake.lock
  flake.nix
  hosts/common/caskaydia-cove.nix
  hosts/m1.nix
  lib/mkDarwinHost.nix
  users/common/applications.nix
  users/common/default-shell.nix
  users/common/eza.nix
  users/common/fish.nix
  users/common/git.nix
  users/common/gpg.nix
  users/common/homebrew.nix
  users/common/neovim.nix
  users/fernando-m1.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(darwin): m1 (#179)
  .gitignore
  flake.lock
  flake.nix
  hosts/common/caskaydia-cove.nix
  hosts/m1.nix
  lib/mkDarwinHost.nix
  users/common/applications.nix
  users/common/default-shell.nix
  users/common/eza.nix
  users/common/fish.nix
  users/common/git.nix
  users/common/gpg.nix
  users/common/homebrew.nix
  users/common/neovim.nix
  users/fernando-m1.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(paisa): add
  pkgs/paisa.nix
  pkgs/pkgs.nix
  users/common/paisa.nix
  users/fernando-m1.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(paisa): add (#180)
  pkgs/paisa.nix
  pkgs/pkgs.nix
  users/common/paisa.nix
  users/fernando-m1.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(git): fix gpg
  users/common/git.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(git): fix gpg (#181)
  users/common/git.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(sudo): touchid
  hosts/m1.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(sudo): touchid (#182)
  hosts/m1.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(m1): cloudflare-warp
  users/common/homebrew.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(m1): cloudflare-warp (#183)
  users/common/homebrew.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(m1): calibre
  users/common/homebrew.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(m1): calibre (#184)
  users/common/homebrew.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(dev-shell): fix
  .pre-commit-config.yaml
  flake.nix
  hosts/g3.nix
  pkgs/paisa.nix
  users/common/default-shell.nix
  users/common/git.nix
  users/common/paisa.nix
  users/fernando-m1.nix
Due: prettier-yaml, nixpkgs-fmt, statix, nix-linter

fix(dev-shell): fix (#185)
  .pre-commit-config.yaml
  flake.nix
  hosts/g3.nix
  pkgs/paisa.nix
  users/common/default-shell.nix
  users/common/git.nix
  users/common/paisa.nix
  users/fernando-m1.nix
Due: prettier-yaml, nixpkgs-fmt, statix, nix-linter

Path conditions:
  prettier-yaml: any of: \.(yaml|yml)$
  hlint: any of: (\.hs|xmobarrc)$
  shellcheck: any of: \.sh$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  nix-linter: any of: \.nix$
