Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, hlint, shellcheck, nixpkgs-fmt, statix, nix-linter

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - name: prettier-yaml
        id: prettier-yaml
        types: [yaml]
        language: system
        entry: prettier --write

      - name: hlint
        id: hlint
        files: '(\.hs|xmobarrc)$'
        language: system
        entry: hlint

      - name: shellcheck
        id: shellcheck
        files: '\.sh$'
        language: system
        entry: shellcheck

      - name: nixpkgs-fmt
        id: nixpkgs-fmt
        files: '\.nix$'
        language: system
        entry: nixpkgs-fmt

      - name: statix
        id: statix
        files: '\.nix$'
        language: system
        entry: statix check

      - name: nix-linter
        id: nix-linter
        files: '\.nix$'
        language: system
        entry: nix-linter

feat(vscode): add mdx
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add mdx (#26)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
Due: nixpkgs-fmt, statix, nix-linter

feat(boot): clean tmp dir
  hosts/common/boot.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(boot): clean tmp dir (#27)
  hosts/common/boot.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(nixos): update version to 22.05
  hosts/common/common.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(nixos): update version to 22.05 (#28)
  hosts/common/common.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(kernel): update version to 5.18
  hosts/common/kernel.nix
  hosts/g3.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(kernel): update version to 5.18 (#29)
  hosts/common/kernel.nix
  hosts/g3.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): set scm defaultViewMode to tree
  users/common/vscode/settings.json
Due: none

feat(vscode): set scm defaultViewMode to tree (#30)
  users/common/vscode/settings.json
Due: none

feat(vscode): add relay extension
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add relay extension (#31)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(update): update
  flake.lock
Due: none

feat(update): update (#32)
  flake.lock
Due: none

fix(discord): add overlay
  overlay/discord.nix
  overlay/overlay.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(discord): add overlay (#33)
  overlay/discord.nix
  overlay/overlay.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(doom-emacs): disable
  flake.lock
  flake.nix
  lib/mkHost.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(doom-emacs): disable (#34)
  flake.lock
  flake.nix
  lib/mkHost.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

test(register-redirect): fix test
  hosts/common/ssh.nix
Due: nixpkgs-fmt, statix, nix-linter

test(register-redirect): fix test (#35)
  hosts/common/ssh.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(gpg): use home-manager gpg-agent
  users/common/gpg.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(gpg): use home-manager gpg-agent (#36)
  users/common/gpg.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(networking): remove dhcp
  hosts/common/networking.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(networking): remove dhcp (#37)
  hosts/common/networking.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(update): update (#38)
  flake.lock
Due: none

feat(vscode-extensions): improve update script
  pkgs/my-vscode-extensions/update.sh
Due: shellcheck

feat(vscode-extensions): improve update script (#39)
  pkgs/my-vscode-extensions/update.sh
Due: shellcheck

feat(vscode-extensions): update
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode-extensions): update (#40)
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add copilot
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
  users/common/vscode/vscode.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add copilot (#41)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
  users/common/vscode/vscode.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add lean4
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add lean4 (#42)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
Due: nixpkgs-fmt, statix, nix-linter

feat(android): add android studio
  users/common/android.nix
  users/common/xmonad/config.hs
  users/fernando.nix
Due: hlint, nixpkgs-fmt, statix, nix-linter

feat(android): add android studio (#43)
  users/common/android.nix
  users/common/xmonad/config.hs
  users/fernando.nix
Due: hlint, nixpkgs-fmt, statix, nix-linter

fix(vscode): fix copilot
  users/common/vscode/settings.json
Due: none

fix(vscode): fix copilot (#44)
  users/common/vscode/settings.json
Due: none

feat(vscode): remove copilot
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): remove copilot (#45)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
Due: nixpkgs-fmt, statix, nix-linter
