Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - name: prettier-yaml
        id: prettier-yaml
        types: [yaml]
        language: system
        entry: prettier --write

      - name: shellcheck
        id: shellcheck
        files: '\.sh$'
        language: system
        entry: shellcheck

      - name: nixpkgs-fmt
        id: nixpkgs-fmt
        files: '\.nix$'
        language: system
        entry: nixpkgs-fmt

      - name: statix
        id: statix
        pass_filenames: false
        language: system
        entry: statix check .

refactor(omo): ui core abstractions (#684)
  modules/dev/omo/ui/backdrop.ts
  modules/dev/omo/ui/codemode.ts
  modules/dev/omo/ui/core/card.ts
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/core/intents.ts
  modules/dev/omo/ui/core/modal.ts
  modules/dev/omo/ui/core/store.ts
  modules/dev/omo/ui/core/style.ts
  modules/dev/omo/ui/core/types.ts
  modules/dev/omo/ui/footer.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/prompt.ts
  modules/dev/omo/ui/sessions.ts
  modules/dev/omo/ui/sidebar.ts
  modules/dev/omo/ui/stats.ts
  modules/dev/omo/ui/tools.ts
  modules/dev/omo/ui/turn.ts
Due: none

feat(worktree): WT_DETACH keeps the caller's tmux client in place
  modules/cli/worktree/worktree.nix
Due: nixpkgs-fmt

feat(omo): switchable primary agents with an orchestrator
  modules/dev/omo/agents/index.ts
  modules/dev/omo/agents/orchestrator.md
  modules/dev/omo/agents/tools.ts
  modules/dev/omo/omo.nix
  modules/dev/omo/ui/core/store.ts
  modules/dev/omo/ui/prompt.ts
Due: nixpkgs-fmt

feat(omo): notices, todo list and open-todos marker in the sidebar
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/core/store.ts
  modules/dev/omo/ui/core/types.ts
  modules/dev/omo/ui/sidebar.ts
Due: none

feat(omo): orchestrator agent that starts omo agents in wt worktrees
  modules/cli/worktree/worktree.nix
  modules/dev/omo/agents/index.ts
  modules/dev/omo/agents/orchestrator.md
  modules/dev/omo/agents/tools.ts
  modules/dev/omo/omo.nix
  modules/dev/omo/ui/prompt.ts
Due: nixpkgs-fmt

feat(omo): orchestrator agent that starts omo agents in wt worktrees (#690)
  modules/cli/worktree/worktree.nix
  modules/dev/omo/agents/index.ts
  modules/dev/omo/agents/orchestrator.md
  modules/dev/omo/agents/tools.ts
  modules/dev/omo/omo.nix
  modules/dev/omo/ui/prompt.ts
Due: nixpkgs-fmt

feat(omo): notices, todo list and open-todos marker in the sidebar (#688)
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/core/store.ts
  modules/dev/omo/ui/core/types.ts
  modules/dev/omo/ui/sidebar.ts
Due: none

feat(omo): code block cards and chrome-free selection
  modules/dev/omo/ui/code.ts
  modules/dev/omo/ui/core/card.ts
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/tools.ts
Due: none

feat(omo): code block cards and chrome-free selection (#689)
  modules/dev/omo/ui/code.ts
  modules/dev/omo/ui/core/card.ts
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/tools.ts
Due: none

feat(omo): draw the ask-user question in the prompt card
  modules/dev/omo/ui/core/card.ts
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/prompt.ts
  modules/dev/omo/ui/question.ts
Due: none

feat(omo): draw the ask-user question in the prompt card (#686)
  modules/dev/omo/ui/core/card.ts
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/prompt.ts
  modules/dev/omo/ui/question.ts
Due: none

feat(omo): tab cycles agents, ctrl+c exits or asks
  modules/dev/omo/agents/index.ts
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/core/intents.ts
  modules/dev/omo/ui/core/modal.ts
  modules/dev/omo/ui/prompt.ts
Due: none

feat(omo): tab cycles agents, ctrl+c exits or asks (#685)
  modules/dev/omo/agents/index.ts
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/core/intents.ts
  modules/dev/omo/ui/core/modal.ts
  modules/dev/omo/ui/prompt.ts
Due: none

fix(omo): one sidebar across reloads, rebuilds and session switches
  modules/dev/omo/ui/core/host.ts
Due: none

fix(omo): one sidebar across reloads, rebuilds and session switches (#691)
  modules/dev/omo/ui/core/host.ts
Due: none

feat(omo): agent CLI over omo's RPC host, fire-and-forget orchestrator
  modules/dev/omo/agent/agent.nix
  modules/dev/omo/agent/agent.ts
  modules/dev/omo/agents/index.ts
  modules/dev/omo/agents/orchestrator.md
  modules/dev/omo/agents/tools.ts
  modules/dev/omo/omo.nix
  modules/dev/omo/ui/core/host.ts
Due: nixpkgs-fmt

feat(omo): agent CLI over omo's RPC host, fire-and-forget orchestrator (#692)
  modules/dev/omo/agent/agent.nix
  modules/dev/omo/agent/agent.ts
  modules/dev/omo/agents/index.ts
  modules/dev/omo/agents/orchestrator.md
  modules/dev/omo/agents/tools.ts
  modules/dev/omo/omo.nix
  modules/dev/omo/ui/core/host.ts
Due: nixpkgs-fmt

chore(opencode): drop server part, /move command and session search
  CLAUDE.md
  lib/mkUserModule.nix
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/scripts/oc-search.sh
  modules/dev/opencode/server.nix
  modules/dev/opencode/session-search.nix
  modules/dev/opencode/worktree-move.nix
  modules/users/polaris-fernando.nix
  modules/users/vega-fernando.nix
Due: shellcheck, nixpkgs-fmt

chore(tmux): remove cheatsheet, remote mode, pocket, spawn-agent and hyper+space nvim toggle
  modules/cli/ssh.nix
  modules/cli/starship.nix
  modules/cli/tmux/cheatsheet.nix
  modules/cli/tmux/pocket.nix
  modules/cli/tmux/remote.nix
  modules/cli/tmux/scripts/cheatsheet.sh
  modules/cli/tmux/scripts/remote.sh
  modules/cli/tmux/session-picker.nix
  modules/cli/tmux/statusbar.nix
  modules/cli/tmux/tmux.nix
  modules/darwin/hammerspoon/init.lua
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/system/sshd.nix
Due: shellcheck, nixpkgs-fmt

fix(tmux): make continuum auto-save actually run, restore omo/opencode
  modules/cli/tmux/resurrect.nix
  modules/cli/tmux/tmux.nix
Due: nixpkgs-fmt

feat(lazygit): per-session toggle popup, drop dead AI commands
  modules/chat/slack/later.nix
  modules/cli/tmux/session-picker.nix
  modules/cli/tmux/session-picker.test.sh
  modules/cli/tmux/tmux.nix
  modules/dev/lazygit.nix
Due: shellcheck, nixpkgs-fmt

chore(tmux): remove cheatsheet, remote mode, pocket, spawn-agent and hyper+space nvim toggle (#694)
  modules/cli/ssh.nix
  modules/cli/starship.nix
  modules/cli/tmux/cheatsheet.nix
  modules/cli/tmux/pocket.nix
  modules/cli/tmux/remote.nix
  modules/cli/tmux/scripts/cheatsheet.sh
  modules/cli/tmux/scripts/remote.sh
  modules/cli/tmux/session-picker.nix
  modules/cli/tmux/statusbar.nix
  modules/cli/tmux/tmux.nix
  modules/darwin/hammerspoon/init.lua
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/system/sshd.nix
Due: shellcheck, nixpkgs-fmt

feat(tmux): PR popup shows own open, reviewed and merged PRs
  modules/cli/tmux/pr.nix
  modules/cli/tmux/pr.test.sh
Due: shellcheck, nixpkgs-fmt

fix(tmux): make continuum auto-save actually run, restore omo/opencode (#695)
  modules/cli/tmux/resurrect.nix
  modules/cli/tmux/tmux.nix
Due: nixpkgs-fmt

refactor(lazygit): toggle a split instead of a popup
  modules/chat/slack/later.nix
  modules/cli/tmux/session-picker.nix
  modules/cli/tmux/session-picker.test.sh
  modules/cli/tmux/tmux.nix
  modules/dev/lazygit.nix
Due: shellcheck, nixpkgs-fmt

feat(tmux): hide @hidden_window windows from the status bar
  modules/cli/tmux/scripts/flexoki-bar.conf
  modules/dev/lazygit.nix
Due: nixpkgs-fmt

feat(lazygit): window icon
  modules/cli/tmux/theme.nix
  modules/dev/lazygit.nix
Due: nixpkgs-fmt

feat(lazygit): per-session toggle split, drop dead AI commands (#696)
  modules/cli/tmux/scripts/flexoki-bar.conf
  modules/cli/tmux/theme.nix
  modules/dev/lazygit.nix
Due: nixpkgs-fmt

feat(omo): pull main before spawning agents, keep it current in the orchestrator
  modules/dev/omo/agent/agent.ts
  modules/dev/omo/agents/orchestrator.md
Due: none

fix(omo): start the shared host from $HOME, not the agent's worktree
  modules/dev/omo/agent/agent.ts
Due: none

fix(omo): start the shared host from $HOME, not the agent's worktree (#699)
  modules/dev/omo/agent/agent.ts
Due: none

feat(omo): pull main before spawning agents, keep it current in the orchestrator (#698)
  modules/dev/omo/agent/agent.ts
  modules/dev/omo/agents/orchestrator.md
Due: none

chore(opencode): drop server part, /move command and session search (#693)
  CLAUDE.md
  lib/mkUserModule.nix
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/scripts/oc-search.sh
  modules/dev/opencode/server.nix
  modules/dev/opencode/session-search.nix
  modules/dev/opencode/worktree-move.nix
  modules/users/polaris-fernando.nix
  modules/users/vega-fernando.nix
Due: shellcheck, nixpkgs-fmt

feat(agent-path): agent-only PATH with gh pr create browser opener
  modules/dev/agent-path/agent-path.nix
  modules/dev/agent-path/gh.sh
  modules/dev/agent-path/profile.sh
  modules/dev/omo/omo.nix
  modules/users/vega-fernando.nix
Due: shellcheck, nixpkgs-fmt

feat(agent-path): agent-only PATH with gh pr create browser opener (#700)
  modules/dev/agent-path/agent-path.nix
  modules/dev/agent-path/gh.sh
  modules/dev/agent-path/profile.sh
  modules/dev/omo/omo.nix
  modules/users/vega-fernando.nix
Due: shellcheck, nixpkgs-fmt

feat(tmux): PR popup shows own open, reviewed and merged PRs (#697)
  modules/cli/tmux/pr.nix
  modules/cli/tmux/pr.test.sh
Due: shellcheck, nixpkgs-fmt

fix(omo): restore hand-picked tmux window icon
  modules/dev/omo/omo.nix
Due: nixpkgs-fmt

fix(omo): restore hand-picked tmux window icon (#701)
  modules/dev/omo/omo.nix
Due: nixpkgs-fmt

feat(lazygit): delta diff renderer and quieter UI
  modules/dev/lazygit.nix
Due: nixpkgs-fmt

feat(lazygit): hide panel jump labels, list footers and explosion
  modules/dev/lazygit.nix
Due: nixpkgs-fmt
