Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - name: prettier-yaml
        id: prettier-yaml
        types: [yaml]
        language: system
        entry: prettier --write

      - name: shellcheck
        id: shellcheck
        files: '\.sh$'
        language: system
        entry: shellcheck

      - name: nixpkgs-fmt
        id: nixpkgs-fmt
        files: '\.nix$'
        language: system
        entry: nixpkgs-fmt

      - name: statix
        id: statix
        pass_filenames: false
        language: system
        entry: statix check .

feat(omo): draw task, dag and prompt-url widgets as cards
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/widgets.ts
Due: none

feat(omo): draw /tree, /fork, /resume and /rename as opencode-style dialogs
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/navigation.ts
Due: none

feat(omo): draw omo's stock panels and overlays as modals
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/core/modal.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/panels.ts
Due: none

feat(omo): draw settings, login, trust and /llama screens as modals
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/settings.ts
Due: none

feat(omo): draw omo plugin notices and tool rows as cards
  modules/dev/omo/ui/entries.ts
  modules/dev/omo/ui/plugins.ts
  modules/dev/omo/ui/rows.ts
Due: none

feat(omo): draw user messages, thinking, !cmd runs, summaries and inline notices as cards
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/entries.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/transcript.ts
Due: none

fix(omo): drop the Text import and ChatHost type duplicated by the restack
  modules/dev/omo/ui/core/host.ts
Due: none

feat(omo): opencode-style model and thinking pickers (#720)
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/pickers.ts
Due: none

feat(omo): draw task, dag and prompt-url widgets as cards (#724)
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/widgets.ts
Due: none

feat(omo): opencode-style status line, queued messages, footer branch and terminal title (#721)
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/footer.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/status.ts
Due: none

feat(omo): draw /tree, /fork, /resume and /rename as opencode-style dialogs (#725)
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/navigation.ts
Due: none

feat(omo): draw omo's stock panels and overlays as modals (#727)
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/core/modal.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/panels.ts
Due: none

feat(omo): draw omo plugin notices and tool rows as cards (#722)
  modules/dev/omo/ui/entries.ts
  modules/dev/omo/ui/plugins.ts
  modules/dev/omo/ui/rows.ts
Due: none

feat(omo): draw settings, login, trust and /llama screens as modals (#723)
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/settings.ts
Due: none

feat(omo): draw user messages, thinking, !cmd runs, summaries and inline notices as cards (#726)
  modules/dev/omo/ui/core/host.ts
  modules/dev/omo/ui/entries.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/transcript.ts
Due: none

feat(worktree): add wts up to move the root onto the top layer
  modules/cli/worktree/wts.sh
Due: shellcheck

feat(worktree): add wts up to move the root onto the top layer (#729)
  modules/cli/worktree/wts.sh
Due: shellcheck

fix(omo): drop the /sessions picker omo 5.1.2 shadows, ctrl+x l opens /resume
  modules/dev/omo/agent/agent.nix
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/navigation.ts
  modules/dev/omo/ui/sessions.ts
Due: nixpkgs-fmt

feat(omo): draw command and file completions inside the prompt card
  modules/dev/omo/ui/prompt.ts
Due: none

fix(omo): drop the shadowed /sessions picker, completions inside the prompt card (#730)
  modules/dev/omo/agent/agent.nix
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/navigation.ts
  modules/dev/omo/ui/prompt.ts
  modules/dev/omo/ui/sessions.ts
Due: nixpkgs-fmt

feat(omo): pin Native's default model chains, Codex-first where omo defaults
  modules/dev/opencode/omo.nix
Due: nixpkgs-fmt

feat(omo): pin Native's default model chains, Codex-first where omo defaults (#731)
  modules/dev/opencode/omo.nix
Due: nixpkgs-fmt

fix(omo): /orchestrate splits work across agents and wts stacks
  modules/dev/omo/agents/index.ts
  modules/dev/omo/agents/orchestrator.md
Due: none

fix(omo): /orchestrate splits work across agents and wts stacks (#732)
  modules/dev/omo/agents/index.ts
  modules/dev/omo/agents/orchestrator.md
Due: none

feat(ollama): socket-activated CUDA server on polaris
  flake.nix
  modules/dev/ollama.nix
  modules/users/polaris-fernando.nix
Due: nixpkgs-fmt

feat(ollama): socket-activated CUDA server on polaris (#733)
  flake.nix
  modules/dev/ollama.nix
  modules/users/polaris-fernando.nix
Due: nixpkgs-fmt

feat(omo): open /fork in a new focused tmux window
  modules/dev/omo/omo.nix
  modules/dev/omo/tmux-fork.ts
Due: nixpkgs-fmt

feat(omo): open /fork in a new focused tmux window (#734)
  modules/dev/omo/omo.nix
  modules/dev/omo/tmux-fork.ts
Due: nixpkgs-fmt

chore(omo): disable agent memory, move its durable rules into CLAUDE.md
  CLAUDE.md
  modules/cli/worktree/stack.nix
  modules/dev/opencode/omo.nix
Due: nixpkgs-fmt

chore(omo): disable agent memory, move its durable rules into CLAUDE.md (#735)
  CLAUDE.md
  modules/cli/worktree/stack.nix
  modules/dev/opencode/omo.nix
Due: nixpkgs-fmt

fix(finicky): disable App Nap
  modules/browser/finicky.nix
Due: nixpkgs-fmt

fix(finicky): disable App Nap (#736)
  modules/browser/finicky.nix
Due: nixpkgs-fmt

feat(omo): blinking bar cursor via the terminal cursor
  modules/dev/omo/omo.nix
  modules/dev/omo/ui/core/style.ts
  modules/dev/omo/ui/core/types.ts
  modules/dev/omo/ui/cursor.ts
  modules/dev/omo/ui/dialogs.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/panels.ts
  modules/dev/omo/ui/prompt.ts
Due: nixpkgs-fmt

feat(omo): blinking bar cursor via the terminal cursor (#737)
  modules/dev/omo/omo.nix
  modules/dev/omo/ui/core/style.ts
  modules/dev/omo/ui/core/types.ts
  modules/dev/omo/ui/cursor.ts
  modules/dev/omo/ui/dialogs.ts
  modules/dev/omo/ui/index.ts
  modules/dev/omo/ui/panels.ts
  modules/dev/omo/ui/prompt.ts
Due: nixpkgs-fmt

feat(opencode): subtle omo footer: drop native badge, quiet goal spinner
  modules/dev/omo/omo.nix
Due: nixpkgs-fmt

feat(opencode): subtle omo footer: drop native badge, quiet goal spinner (#738)
  modules/dev/omo/omo.nix
Due: nixpkgs-fmt

refactor(omo): untangle omo from opencode, disable opencode on vega
  CLAUDE.md
  modules/cli/fish.nix
  modules/cli/tmux/tmux.nix
  modules/cli/worktree/stack.nix
  modules/dev/autoresearch/autoresearch.nix
  modules/dev/i-have-adhd/i-have-adhd.md
  modules/dev/i-have-adhd/i-have-adhd.nix
  modules/dev/omo/omo-jsonc.nix
  modules/dev/omo/omo.nix
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode/omo.nix
  modules/dev/opencode/opencode.nix
  modules/dev/ponytail/ponytail.nix
  modules/dev/show-me/show-me.md
  modules/dev/show-me/show-me.nix
  modules/users/polaris-fernando.nix
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

refactor(omo): untangle omo from opencode, disable opencode on vega (#739)
  CLAUDE.md
  modules/cli/fish.nix
  modules/cli/tmux/tmux.nix
  modules/cli/worktree/stack.nix
  modules/dev/autoresearch/autoresearch.nix
  modules/dev/i-have-adhd/i-have-adhd.md
  modules/dev/i-have-adhd/i-have-adhd.nix
  modules/dev/omo/omo-jsonc.nix
  modules/dev/omo/omo.nix
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode/omo.nix
  modules/dev/opencode/opencode.nix
  modules/dev/ponytail/ponytail.nix
  modules/dev/show-me/show-me.md
  modules/dev/show-me/show-me.nix
  modules/users/polaris-fernando.nix
  modules/users/vega-fernando.nix
Due: nixpkgs-fmt

feat(worktree): wtrm removes wts stack layers via wts rm
  modules/cli/worktree/worktree.nix
Due: nixpkgs-fmt

feat(worktree): wtrm removes wts stack layers via wts rm (#740)
  modules/cli/worktree/worktree.nix
Due: nixpkgs-fmt
