Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - name: prettier-yaml
        id: prettier-yaml
        types: [yaml]
        language: system
        entry: prettier --write

      - name: shellcheck
        id: shellcheck
        files: '\.sh$'
        language: system
        entry: shellcheck

      - name: nixpkgs-fmt
        id: nixpkgs-fmt
        files: '\.nix$'
        language: system
        entry: nixpkgs-fmt

      - name: statix
        id: statix
        pass_filenames: false
        language: system
        entry: statix check .

feat(tmux): add remote mode
  modules/cli/tmux.nix
  overlay/pkgs/pkgs.nix
  overlay/pkgs/tmux-extras/battery-widget.sh
  overlay/pkgs/tmux-extras/cheatsheet.sh
  overlay/pkgs/tmux-extras/notify.sh
  overlay/pkgs/tmux-extras/remote-widget.sh
  overlay/pkgs/tmux-extras/remote.sh
  overlay/pkgs/tmux-extras/status-right.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
Due: shellcheck, nixpkgs-fmt

feat(tmux): add remote mode (#327)
  modules/cli/tmux.nix
  overlay/pkgs/pkgs.nix
  overlay/pkgs/tmux-extras/battery-widget.sh
  overlay/pkgs/tmux-extras/cheatsheet.sh
  overlay/pkgs/tmux-extras/notify.sh
  overlay/pkgs/tmux-extras/remote-widget.sh
  overlay/pkgs/tmux-extras/remote.sh
  overlay/pkgs/tmux-extras/status-right.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
Due: shellcheck, nixpkgs-fmt

feat(tmux): open new panes at git top level
  modules/cli/tmux.nix
  overlay/pkgs/tmux-extras/git-root-path.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
Due: shellcheck, nixpkgs-fmt

feat(tmux): open new panes at git top level (#328)
  modules/cli/tmux.nix
  overlay/pkgs/tmux-extras/git-root-path.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
Due: shellcheck, nixpkgs-fmt

feat(fish): add worktree functions
  modules/cli/fish.nix
  modules/cli/starship.nix
  modules/cli/tmux.nix
Due: nixpkgs-fmt

fix(tmux): fix notify ignore for unfocused sessions
  overlay/pkgs/tmux-extras/notify.sh
Due: shellcheck

fix(tmux): fix notify ignore for unfocused sessions (#330)
  overlay/pkgs/tmux-extras/notify.sh
Due: shellcheck

fix(hammerspoon): fix ghostty open to front
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): fix ghostty open to front (#331)
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): force reload on screen awake
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): force reload on screen awake (#332)
  modules/darwin/hammerspoon/init.lua
Due: none

feat(hammerspoon): pass through modifier flags to key remappings
  modules/darwin/hammerspoon/init.lua
Due: none

feat(hammerspoon): pass through modifier flags to key remappings (#333)
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): remove autorepeat from hyper+n
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): remove autorepeat from hyper+n (#334)
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): send events directly to ghostty in hyper+n
  modules/darwin/hammerspoon/init.lua
Due: none

fix(hammerspoon): send events directly to ghostty in hyper+n (#335)
  modules/darwin/hammerspoon/init.lua
Due: none

chore(tmux): remove date and time
  overlay/pkgs/tmux-extras/status-right.sh
Due: shellcheck

chore(tmux): remove date and time (#336)
  overlay/pkgs/tmux-extras/status-right.sh
Due: shellcheck

feat(tmux): add prefix+o for opencode
  modules/cli/tmux.nix
  overlay/pkgs/tmux-extras/cheatsheet.sh
Due: shellcheck, nixpkgs-fmt

feat(tmux): add prefix+o for opencode (#337)
  modules/cli/tmux.nix
  overlay/pkgs/tmux-extras/cheatsheet.sh
Due: shellcheck, nixpkgs-fmt

feat(fish): improve wt base branch and ux
  modules/cli/fish.nix
Due: nixpkgs-fmt

feat(fish): improve wt base branch and ux (#338)
  modules/cli/fish.nix
Due: nixpkgs-fmt

feat(m1): add lazygit
  modules/dev/lazygit.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add lazygit (#339)
  modules/dev/lazygit.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(lazygit): add custom PR commands
  modules/dev/lazygit.nix
Due: nixpkgs-fmt

feat(lazygit): add custom PR commands (#340)
  modules/dev/lazygit.nix
Due: nixpkgs-fmt

feat(linear): add worktree and opencode with linear-cli
  flake.lock
  flake.nix
  modules/cli/fish.nix
  modules/darwin/homebrew.nix
  modules/dev/linear.nix
  modules/dev/opencode.nix
Due: nixpkgs-fmt

feat(linear): add worktree and opencode with linear-cli (#341)
  flake.lock
  flake.nix
  modules/cli/fish.nix
  modules/darwin/homebrew.nix
  modules/dev/linear.nix
  modules/dev/opencode.nix
Due: nixpkgs-fmt

fix(lazygit): fix c-p command to view pr in web
  modules/dev/lazygit.nix
Due: nixpkgs-fmt

fix(lazygit): fix c-p command to view pr in web (#342)
  modules/dev/lazygit.nix
Due: nixpkgs-fmt

feat(tmux): add icon for task process
  modules/cli/tmux.nix
Due: nixpkgs-fmt

feat(tmux): add icon for task process (#343)
  modules/cli/tmux.nix
Due: nixpkgs-fmt

feat(lazygit): generate commit with opencode command
  modules/dev/lazygit.nix
Due: nixpkgs-fmt

feat(lazygit): generate commit with opencode command (#344)
  modules/dev/lazygit.nix
Due: nixpkgs-fmt

feat(tmux): add prefix+l to open lazygit
  modules/cli/tmux.nix
Due: nixpkgs-fmt

feat(tmux): add prefix+l to open lazygit (#345)
  modules/cli/tmux.nix
Due: nixpkgs-fmt

feat(fish): add git clean stale lock for wt
  modules/cli/fish.nix
Due: nixpkgs-fmt
