Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - name: prettier-yaml
        id: prettier-yaml
        types: [yaml]
        language: system
        entry: prettier --write

      - name: shellcheck
        id: shellcheck
        files: '\.sh$'
        language: system
        entry: shellcheck

      - name: nixpkgs-fmt
        id: nixpkgs-fmt
        files: '\.nix$'
        language: system
        entry: nixpkgs-fmt

      - name: statix
        id: statix
        pass_filenames: false
        language: system
        entry: statix check .

feat(opencode): use opus 5 as default (#564)
  modules/dev/opencode/omo.nix
Due: nixpkgs-fmt

fix(opencode): disable fff indexer
  modules/dev/opencode/server.nix
Due: nixpkgs-fmt

feat(vega): disable spotlight indexing
  modules/darwin/spotlight.nix
Due: nixpkgs-fmt

feat(vega): disable spotlight indexing (#565)
  modules/darwin/spotlight.nix
Due: nixpkgs-fmt

feat(opencode): update to 1.18.10
  flake.lock
  flake.nix
Due: nixpkgs-fmt

feat(opencode): update to 1.18.10 (#566)
  flake.lock
  flake.nix
Due: nixpkgs-fmt

feat(opencode): remove oc-sync-sid
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/oc-sync-sid.sh
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode/server.nix
  modules/editor/vscode/settings.json
Due: shellcheck, nixpkgs-fmt

feat(opencode): remove oc-sync-sid (#567)
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/oc-sync-sid.sh
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode/server.nix
  modules/editor/vscode/settings.json
Due: shellcheck, nixpkgs-fmt

fix(tmux): fix session picker github badges
  modules/cli/tmux/session-picker.nix
Due: nixpkgs-fmt

fix(tmux): fix session picker github badges (#568)
  modules/cli/tmux/session-picker.nix
Due: nixpkgs-fmt

fix(tmux): fix session picker badges to find by branch
  modules/cli/tmux/session-picker.nix
Due: nixpkgs-fmt

fix(tmux): fix session picker badges to find by branch (#569)
  modules/cli/tmux/session-picker.nix
Due: nixpkgs-fmt

feat(opencode): i-have-adhd
  modules/dev/opencode/i-have-adhd.md
  modules/dev/opencode/i-have-adhd.nix
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

feat(opencode): i-have-adhd (#570)
  modules/dev/opencode/i-have-adhd.md
  modules/dev/opencode/i-have-adhd.nix
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

fix(tmux-notifier): ignore child sessions for sid
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
Due: none

fix(tmux-notifier): ignore child sessions for sid (#571)
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
Due: none

fix(tmux): otmize statusbar render time and remove memory widget
  modules/cli/tmux/statusbar.nix
  modules/dev/opencode-manager/scripts/opencode-manager.sh
Due: shellcheck, nixpkgs-fmt

fix(tmux): otmize statusbar render time and remove memory widget (#572)
  modules/cli/tmux/statusbar.nix
  modules/dev/opencode-manager/scripts/opencode-manager.sh
Due: shellcheck, nixpkgs-fmt

fix(opencode-manager): ignore pane options after opencode exits.
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/opencode-manager.sh
Due: shellcheck, nixpkgs-fmt

fix(opencode-manager): ignore pane options after opencode exits. (#573)
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/opencode-manager.sh
Due: shellcheck, nixpkgs-fmt

fix(opencode-manager): fix tui sessions ordering
  modules/dev/opencode-manager/scripts/opencode-manager.sh
Due: shellcheck

fix(opencode-manager): fix tui sessions ordering (#574)
  modules/dev/opencode-manager/scripts/opencode-manager.sh
Due: shellcheck

feat(fish): add fish info to opencode
  modules/cli/fish.nix
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

feat(fish): add fish info to opencode (#575)
  modules/cli/fish.nix
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

feat(opencode-manager): use opencode session status instead of timestamp heuristic
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode/server.nix
Due: shellcheck, nixpkgs-fmt

feat(opencode-manager): use opencode session status instead of timestamp heuristic (#576)
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode/server.nix
Due: shellcheck, nixpkgs-fmt

feat(opencode): add ttl and preamble context to findings cache
  modules/dev/opencode/plugins/findings-cache.check.ts
  modules/dev/opencode/plugins/findings-cache.ts
Due: none

feat(opencode): add ttl and preamble context to findings cache (#577)
  modules/dev/opencode/plugins/findings-cache.check.ts
  modules/dev/opencode/plugins/findings-cache.ts
Due: none

feat(nix): cap store growth and surface low disk in tmux
  modules/cli/tmux/statusbar.nix
  modules/cli/tmux/statusbar.test.sh
  modules/darwin/darwin-default.nix
  modules/system/nix.nix
Due: shellcheck, nixpkgs-fmt

feat(nix): cap store growth and surface low disk in tmux (#578)
  modules/cli/tmux/statusbar.nix
  modules/cli/tmux/statusbar.test.sh
  modules/darwin/darwin-default.nix
  modules/system/nix.nix
Due: shellcheck, nixpkgs-fmt

feat(opencode-manager): rebuild tui as an fzf session picker
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode-manager/scripts/tui-list.test.sh
Due: shellcheck, nixpkgs-fmt

feat(opencode-manager): rebuild tui as an fzf session picker (#579)
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode-manager/scripts/tui-list.test.sh
Due: shellcheck, nixpkgs-fmt

feat(tmux): add a persistent per-session nvim window
  modules/cli/tmux/scripts/cheatsheet.sh
  modules/cli/tmux/scripts/flexoki-bar.conf
  modules/cli/tmux/theme.nix
  modules/cli/tmux/tmux.nix
Due: shellcheck, nixpkgs-fmt

feat(hammerspoon): point hyper+c and hyper+space at the nvim window
  modules/darwin/hammerspoon/init.lua
Due: none

feat(nvim): add a branch-vs-base diffview binding
  modules/editor/nvim/git.nix
  modules/editor/nvim/nvim.nix
Due: nixpkgs-fmt

feat/nvim window (#580)
  modules/cli/tmux/scripts/cheatsheet.sh
  modules/cli/tmux/scripts/flexoki-bar.conf
  modules/cli/tmux/theme.nix
  modules/cli/tmux/tmux.nix
  modules/darwin/hammerspoon/init.lua
  modules/editor/nvim/git.nix
  modules/editor/nvim/nvim.nix
Due: shellcheck, nixpkgs-fmt

fix(hammerspoon): fix hyper+space window toggle and focusing ux
  modules/cli/tmux/tmux.nix
  modules/darwin/hammerspoon/init.lua
  modules/dev/opencode-manager/plugins/tmux-notifier.check.ts
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
Due: nixpkgs-fmt

fix(hammerspoon): fix hyper+space window toggle and focusing ux (#581)
  modules/cli/tmux/tmux.nix
  modules/darwin/hammerspoon/init.lua
  modules/dev/opencode-manager/plugins/tmux-notifier.check.ts
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
Due: nixpkgs-fmt

fix(nvim): stop minuet crashing when CODESTRAL_API_KEY is unset
  modules/editor/nvim/ai.nix
Due: nixpkgs-fmt

fix(nvim): guard clippy, diffview base ref and neotree open
  modules/editor/nvim/explorer.nix
  modules/editor/nvim/git.nix
  modules/editor/nvim/lsp.nix
Due: nixpkgs-fmt
