Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

prettier-yaml:
  name: prettier-yaml
  language: system
  entry: prettier --write

shellcheck:
  name: shellcheck
  language: system
  entry: shellcheck

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

feat(firefox): per-profile .app bundles with distinct Cmd+Tab identity (#449)
  modules/browser/firefox.nix
  modules/browser/firefox/firefox.nix
  modules/browser/firefox/profile-apps.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

fix(firefox): self-heal stale compatibility.ini in profile launcher
  modules/browser/firefox/profile-apps.nix
Due: nixpkgs-fmt

fix(firefox): self-heal stale compatibility.ini in profile launcher (#450)
  modules/browser/firefox/profile-apps.nix
Due: nixpkgs-fmt

feat(finicky): install URL router + declare routing rules for profile apps
  modules/browser/finicky.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(finicky): install URL router + declare routing rules for profile apps (#451)
  modules/browser/finicky.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(firefox): add custom icons to profiles
  modules/browser/firefox/firefox.nix
  modules/browser/firefox/profile-apps.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(firefox): add custom icons to profiles (#452)
  modules/browser/firefox/firefox.nix
  modules/browser/firefox/profile-apps.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(tmux): improve right bar
  modules/cli/tmux/scripts/git-status.sh
  modules/cli/tmux/statusbar.nix
  modules/dev/opencode-manager/scripts/opencode-manager.sh
Due: shellcheck, nixpkgs-fmt

feat(tmux): improve right bar (#453)
  modules/cli/tmux/scripts/git-status.sh
  modules/cli/tmux/statusbar.nix
  modules/dev/opencode-manager/scripts/opencode-manager.sh
Due: shellcheck, nixpkgs-fmt

fix(firefox): per-profile MOZ_APP_REMOTINGNAME so URL events stop leaking between bundles
  modules/browser/firefox/profile-apps.nix
Due: nixpkgs-fmt

fix(firefox): per-profile MOZ_APP_REMOTINGNAME so URL events stop leaking between bundles (#454)
  modules/browser/firefox/profile-apps.nix
Due: nixpkgs-fmt

feat(hammerspoon): generic extras loader for cross-module Lua snippets
  modules/darwin/hammerspoon/init.lua
Due: none

feat(hammerspoon): generic extras loader for cross-module Lua snippets (#455)
  modules/darwin/hammerspoon/init.lua
Due: none

feat(finicky-firefox-router): route URLs to the active Firefox profile via hammerspoon
  modules/browser/finicky-firefox-router.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(finicky-firefox-router): route URLs to the active Firefox profile via hammerspoon (#456)
  modules/browser/finicky-firefox-router.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

fix(firefox): stop 1Password re-prompts and update banner on profile bundles
  modules/browser/firefox/profile-apps.nix
Due: nixpkgs-fmt

fix(firefox): stop 1Password re-prompts and update banner on profile bundles (#457)
  modules/browser/firefox/profile-apps.nix
Due: nixpkgs-fmt

feat(opencode-manager): improve notifier for sessions with background agents
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
Due: none

feat(opencode-manager): improve notifier for sessions with background agents (#458)
  modules/dev/opencode-manager/plugins/tmux-notifier.ts
Due: none

feat(worktree): add wtpr for github pull requests
  modules/cli/worktree.nix
Due: nixpkgs-fmt

feat(worktree): add wtpr for github pull requests (#459)
  modules/cli/worktree.nix
Due: nixpkgs-fmt

feat(opencode): add autoresearch plugin
  modules/dev/opencode/autoresearch.nix
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

feat(opencode): add autoresearch plugin (#460)
  modules/dev/opencode/autoresearch.nix
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

feat(opencode): add findings-cache plugin
  modules/dev/opencode/cache.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/plugins/findings-cache.ts
Due: nixpkgs-fmt

feat(opencode): add findings-cache plugin (#461)
  modules/dev/opencode/cache.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/plugins/findings-cache.ts
Due: nixpkgs-fmt

fix(firefox): sign profile apps
  modules/browser/firefox/profile-apps.nix
Due: nixpkgs-fmt

fix(firefox): sign profile apps (#462)
  modules/browser/firefox/profile-apps.nix
Due: nixpkgs-fmt

feat(m1): add affinity
  modules/media/affinity.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add affinity (#463)
  modules/media/affinity.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(opencode): bump opencode to 1.15.10+7fe7b9f
  flake.lock
  flake.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/patches/cursor-style-and-blink.patch
  modules/dev/opencode/patches/relax-bun-version-check.patch
Due: nixpkgs-fmt

feat(opencode): bump agentation-mcp to 3.0.2
  modules/dev/opencode/agentation-mcp.nix
Due: nixpkgs-fmt

feat(opencode): bump figma-developer-mcp to 0.11.0
  modules/dev/opencode/figma-developer-mcp.nix
Due: nixpkgs-fmt

chore(flake): bump nixpkgs, home-manager, darwin, nix-homebrew, homebrew-core, direnv-instant
  flake.lock
Due: none

fix(homebrew): pin homebrew-cask and rename linear cask
  flake.lock
  flake.nix
  modules/dev/linear.nix
Due: nixpkgs-fmt

chore: update opencode (1.15.10), plugins, and MCP servers (#464)
  flake.lock
  flake.nix
  modules/dev/linear.nix
  modules/dev/opencode/agentation-mcp.nix
  modules/dev/opencode/figma-developer-mcp.nix
  modules/dev/opencode/opencode.nix
  modules/dev/opencode/patches/cursor-style-and-blink.patch
  modules/dev/opencode/patches/relax-bun-version-check.patch
Due: nixpkgs-fmt

chore(opencode): 1.15.10 follow-up
  flake.lock
  flake.nix
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/oc-sync-sid.sh
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode/patches/relax-bun-version-check.patch
  modules/dev/opencode/server.nix
Due: shellcheck, nixpkgs-fmt

chore(opencode): 1.15.10 follow-up (#465)
  flake.lock
  flake.nix
  modules/dev/opencode-manager/opencode-manager.nix
  modules/dev/opencode-manager/scripts/oc-sync-sid.sh
  modules/dev/opencode-manager/scripts/opencode-manager.sh
  modules/dev/opencode/patches/relax-bun-version-check.patch
  modules/dev/opencode/server.nix
Due: shellcheck, nixpkgs-fmt

fix(brew): pin brew-src to 5.1.13 for cask OS-dependency fix
  flake.lock
  flake.nix
Due: nixpkgs-fmt

fix(brew): pin brew-src to 5.1.13 for cask OS-dependency fix (#466)
  flake.lock
  flake.nix
Due: nixpkgs-fmt

fix(opencode): switch title and CLI agents from unauthed minimax to claude-haiku
  modules/dev/lazygit.nix
  modules/dev/linear.nix
  modules/dev/opencode/opencode.nix
Due: nixpkgs-fmt

Path conditions:
  prettier-yaml: any of: \.(yaml|yml)$
  shellcheck: any of: \.sh$
  nixpkgs-fmt: any of: \.nix$
