Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, hlint, shellcheck, nixpkgs-fmt, statix, nix-linter

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - name: prettier-yaml
        id: prettier-yaml
        types: [yaml]
        language: system
        entry: prettier --write

      - name: hlint
        id: hlint
        files: '(\.hs|xmobarrc)$'
        language: system
        entry: hlint

      - name: shellcheck
        id: shellcheck
        files: '\.sh$'
        language: system
        entry: shellcheck

      - name: nixpkgs-fmt
        id: nixpkgs-fmt
        files: '\.nix$'
        language: system
        entry: nixpkgs-fmt

      - name: statix
        id: statix
        files: '\.nix$'
        language: system
        entry: statix check

      - name: nix-linter
        id: nix-linter
        files: '\.nix$'
        language: system
        entry: nix-linter

feat(vscode): disable multiline paste warning
  users/common/vscode/settings.json
Due: none

feat(vscode): disable multiline paste warning (#46)
  users/common/vscode/settings.json
Due: none

feat(update): update
  flake.lock
Due: none

feat(update): update (#47)
  flake.lock
Due: none

feat(gcc): add gcc
  hosts/common/gcc.nix
  hosts/g3.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(gcc): add gcc (#48)
  hosts/common/gcc.nix
  hosts/g3.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home-manager): add stateVersion
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home-manager): add stateVersion (#49)
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(neovim): add nvchad
  users/common/neovim.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(neovim): add nvchad (#50)
  users/common/neovim.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): remove obsidian
  users/common/obsidian.nix
  users/common/xmonad/config.hs
  users/fernando.nix
Due: hlint, nixpkgs-fmt, statix, nix-linter

feat(home): remove obsidian (#51)
  users/common/obsidian.nix
  users/common/xmonad/config.hs
  users/fernando.nix
Due: hlint, nixpkgs-fmt, statix, nix-linter

feat(home): remove webstorm
  users/common/webstorm.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): remove webstorm (#52)
  users/common/webstorm.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add home
  users/common/disable-keyboard.nix
  users/common/home.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add home (#53)
  users/common/disable-keyboard.nix
  users/common/home.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add emacs
  users/common/emacs/emacs.nix
  users/common/emacs/init.el
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add emacs (#54)
  users/common/emacs/emacs.nix
  users/common/emacs/init.el
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(update): update (#55)
  flake.lock
Due: none

feat(home): add circleci
  users/common/circleci.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add circleci (#56)
  users/common/circleci.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(update): update (#57)
  flake.lock
Due: none

feat(emacs): add org-superstar and more keybindings
  users/common/emacs/init.el
Due: none

feat(emacs): add org-superstar and more keybindings (#58)
  users/common/emacs/init.el
Due: none

feat(xmonad): remove terminal strachpad
  users/common/xmonad/config.hs
Due: hlint

feat(xmonad): remove terminal strachpad (#59)
  users/common/xmonad/config.hs
Due: hlint

feat(home): remove ticktick
  pkgs/pkgs.nix
  pkgs/ticktick.nix
  users/common/ticktick.nix
  users/common/xmonad/config.hs
  users/fernando.nix
Due: hlint, nixpkgs-fmt, statix, nix-linter

feat(home): remove ticktick (#60)
  pkgs/pkgs.nix
  pkgs/ticktick.nix
  users/common/ticktick.nix
  users/common/xmonad/config.hs
  users/fernando.nix
Due: hlint, nixpkgs-fmt, statix, nix-linter

feat(xmonad): add emacs scratchpad
  users/common/xmonad/config.hs
Due: hlint

feat(xmonad): add emacs scratchpad (#61)
  users/common/xmonad/config.hs
Due: hlint

feat(emacs): add dailies yesterday keybindings
  users/common/emacs/init.el
Due: none

feat(emacs): add dailies yesterday keybindings (#62)
  users/common/emacs/init.el
Due: none

feat(emacs): add notes-push keybinding
  users/common/emacs/init.el
Due: none

feat(emacs): add notes-push keybinding (#63)
  users/common/emacs/init.el
Due: none

feat(emacs): add evil window map
  users/common/emacs/init.el
Due: none

feat(emacs): add evil window map (#64)
  users/common/emacs/init.el
Due: none

feat(emacs): add switch-to-buffer keybinding
  users/common/emacs/init.el
Due: none

feat(emacs): add switch-to-buffer keybinding (#65)
  users/common/emacs/init.el
Due: none
