Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, hlint, shellcheck, nixpkgs-fmt, statix, nix-linter

prettier-yaml:
  name: prettier-yaml
  language: system
  entry: prettier --write

hlint:
  name: hlint
  language: system
  entry: hlint

shellcheck:
  name: shellcheck
  language: system
  entry: shellcheck

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix check

nix-linter:
  name: nix-linter
  language: system
  entry: nix-linter

feat(emacs): add org-roam-dailies date keybinds
  users/common/emacs/init.el
Due: none

feat(emacs): add org-roam-dailies date keybinds (#66)
  users/common/emacs/init.el
Due: none

feat(emacs): add org-roam-node-find keybind
  users/common/emacs/init.el
Due: none

feat(emacs): add org-roam-node-find keybind (#67)
  users/common/emacs/init.el
Due: none

feat(emacs): add org-roam-dailies tomorrow keybinds
  users/common/emacs/init.el
Due: none

feat(emacs): add org-roam-dailies tomorrow keybinds (#68)
  users/common/emacs/init.el
Due: none

feat(update): update
  flake.lock
Due: none

feat(update): update (#69)
  flake.lock
Due: none

fix(emacs): fix keybindings
  users/common/emacs/init.el
Due: none

fix(emacs): fix keybindings (#70)
  users/common/emacs/init.el
Due: none

feat(networking): remove extra hosts
  hosts/common/networking.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(networking): remove extra hosts (#71)
  hosts/common/networking.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add bun
  users/common/bun.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add bun (#72)
  users/common/bun.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(networking): add extra hosts
  hosts/common/networking.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(networking): add extra hosts (#73)
  hosts/common/networking.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(emacs): fix dailies keybinds
  users/common/emacs/init.el
Due: none

fix(emacs): fix dailies keybinds (#74)
  users/common/emacs/init.el
Due: none

feat(emacs): add org todo keywords
  users/common/emacs/init.el
Due: none

feat(emacs): add org todo keywords (#75)
  users/common/emacs/init.el
Due: none

feat(vscode): update extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): update extensions (#76)
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add rust-analyzer
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add rust-analyzer (#77)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(rust): setup
  devShells/rust.nix
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/rust.nix
  users/common/vscode/vscode.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(rust): setup (#78)
  devShells/rust.nix
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/rust.nix
  users/common/vscode/vscode.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(host): add binutils
  hosts/common/utils.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(host): add binutils (#79)
  hosts/common/utils.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(git): add push autoSetupRemote config
  users/common/git.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(git): add push autoSetupRemote config (#80)
  users/common/git.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add rust settings
  users/common/vscode/settings.json
Due: none

feat(vscode): add rust settings (#81)
  users/common/vscode/settings.json
Due: none

feat(vscode): add haskell extensions
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add haskell extensions (#82)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(xmobar): hide workspaces without windows
  users/common/xmonad/config.hs
Due: hlint

feat(xmobar): hide workspaces without windows (#83)
  users/common/xmonad/config.hs
Due: hlint

feat(vscode): add haskell format options
  users/common/vscode/settings.json
  users/common/xmonad/config.hs
Due: hlint

feat(vscode): add haskell format options (#84)
  users/common/vscode/settings.json
  users/common/xmonad/config.hs
Due: hlint

feat(xmobar): improve workspaces
  users/common/xmobar/xmobarrc
  users/common/xmonad/config.hs
Due: hlint

feat(xmobar): improve workspaces (#85)
  users/common/xmobar/xmobarrc
  users/common/xmonad/config.hs
Due: hlint

Path conditions:
  prettier-yaml: any of: \.(yaml|yml)$
  hlint: any of: (\.hs|xmobarrc)$
  shellcheck: any of: \.sh$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  nix-linter: any of: \.nix$
