Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, hlint, shellcheck, nixpkgs-fmt, statix, nix-linter

prettier-yaml:
  name: prettier-yaml
  language: system
  entry: prettier --write

hlint:
  name: hlint
  language: system
  entry: hlint

shellcheck:
  name: shellcheck
  language: system
  entry: shellcheck

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix check

nix-linter:
  name: nix-linter
  language: system
  entry: nix-linter

feat(update): update
  flake.lock
Due: none

feat(update): update (#86)
  flake.lock
Due: none

feat(home): add krusader
  users/common/krusader.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add krusader (#87)
  users/common/krusader.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add krita
  users/common/krita.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add krita (#88)
  users/common/krita.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add minecraft and ferium
  pkgs/pkgs.nix
  pkgs/tlauncher.nix
  users/common/minecraft.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add minecraft and ferium (#89)
  pkgs/pkgs.nix
  pkgs/tlauncher.nix
  users/common/minecraft.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(xmobar): improve info style
  users/common/xmobar/xmobarrc
Due: hlint

feat(xmobar): improve info style (#90)
  users/common/xmobar/xmobarrc
Due: hlint

fix(vscode): fix git renamed foreground
  users/common/vscode/settings.json
Due: none

fix(vscode): fix git renamed foreground (#91)
  users/common/vscode/settings.json
Due: none

feat(home): add webstorm
  users/common/webstorm.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add webstorm (#92)
  users/common/webstorm.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(update): update (#93)
  flake.lock
Due: none

fix(home): add libreoffice import
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(home): add libreoffice import (#94)
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(emacs): add org roam dailies capture templates
  users/common/emacs/init.el
Due: none

feat(emacs): add org roam dailies capture templates (#95)
  users/common/emacs/init.el
Due: none

fix(emacs): remove unnecessary keybinds
  users/common/emacs/init.el
Due: none

fix(emacs): remove unnecessary keybinds (#96)
  users/common/emacs/init.el
Due: none

feat(emacs): add org-save-all-org-buffers keybind
  users/common/emacs/init.el
Due: none

feat(emacs): add org-save-all-org-buffers keybind (#97)
  users/common/emacs/init.el
Due: none

feat(emacs): add git-gutter
  users/common/emacs/init.el
Due: none

feat(emacs): add git-gutter (#98)
  users/common/emacs/init.el
Due: none

feat(emacs): add org-roam db autosync
  users/common/emacs/init.el
Due: none

feat(emacs): add org-roam db autosync (#99)
  users/common/emacs/init.el
Due: none

fix(emacs): fix org-roam db autosync
  users/common/emacs/init.el
Due: none

fix(emacs): fix org-roam db autosync (#100)
  users/common/emacs/init.el
Due: none

feat(emacs): add vertico
  users/common/emacs/init.el
Due: none

feat(emacs): add vertico (#101)
  users/common/emacs/init.el
Due: none

feat(fish): remove greeting message
  users/common/fish.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(fish): remove greeting message (#102)
  users/common/fish.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(i18n): add japanese support
  hosts/common/i18n.nix
  users/common/xmonad/xmonad.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(i18n): add japanese support (#103)
  hosts/common/i18n.nix
  users/common/xmonad/xmonad.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(fonts): fix noto cjk fonts
  hosts/common/fonts.nix
  overlay/noto-fonts-cjk-sans.nix
  overlay/noto-fonts-cjk-serif.nix
  overlay/overlay.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(fonts): fix noto cjk fonts (#104)
  hosts/common/fonts.nix
  overlay/noto-fonts-cjk-sans.nix
  overlay/noto-fonts-cjk-serif.nix
  overlay/overlay.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add gtk and qt theme
  users/common/gtk.nix
  users/common/qt.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add gtk and qt theme (#105)
  users/common/gtk.nix
  users/common/qt.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

Path conditions:
  prettier-yaml: any of: \.(yaml|yml)$
  hlint: any of: (\.hs|xmobarrc)$
  shellcheck: any of: \.sh$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  nix-linter: any of: \.nix$
