Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, shellcheck, nixpkgs-fmt

prettier-yaml:
  name: prettier-yaml
  language: system
  entry: prettier --write

shellcheck:
  name: shellcheck
  language: system
  entry: shellcheck

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

feat(m1): add stremio (#286)
  modules/common/stremio.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

fix(stremio): remove from apple quarantine
  modules/common/stremio.nix
Due: nixpkgs-fmt

fix(stremio): remove from apple quarantine (#287)
  modules/common/stremio.nix
Due: nixpkgs-fmt

feat(flake): update
  flake.lock
  modules/cli/nvim.nix
  modules/common/git.nix
  overlay/pkgs/paisa.nix
Due: nixpkgs-fmt

feat(flake): update (#288)
  flake.lock
  modules/cli/nvim.nix
  modules/common/git.nix
  overlay/pkgs/paisa.nix
Due: nixpkgs-fmt

feat(m1): add openclaw
  modules/common/openclaw.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add openclaw (#289)
  modules/common/openclaw.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add cold turkey blocker
  modules/common/cold-turkey-blocker.nix
  modules/common/tailscale.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add cold turkey blocker (#290)
  modules/common/cold-turkey-blocker.nix
  modules/common/tailscale.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add granola
  modules/common/granola.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add granola (#291)
  modules/common/granola.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add opencode
  modules/cli/opencode.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add opencode (#292)
  modules/cli/opencode.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(flake): update
  flake.lock
  modules/cli/fzf.nix
Due: nixpkgs-fmt

feat(flake): update (#294)
  flake.lock
  modules/cli/fzf.nix
Due: nixpkgs-fmt

feat(m1): add linear
  modules/dev/linear.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add linear (#295)
  modules/dev/linear.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add opencode desktop
  modules/dev/opencode-desktop.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add opencode desktop (#296)
  modules/dev/opencode-desktop.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(opencode): move to home-manager
  modules/dev/opencode.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(opencode): move to home-manager (#297)
  modules/dev/opencode.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

chore(opencode): remove notifications
  modules/dev/opencode.nix
Due: nixpkgs-fmt

chore(opencode): remove notifications (#298)
  modules/dev/opencode.nix
Due: nixpkgs-fmt

feat(m1): add ghostty
  modules/terminal/ghostty.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add ghostty (#299)
  modules/terminal/ghostty.nix
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(tmux): fix flexoki and add extras
  modules/cli/tmux.nix
  overlay/pkgs/flexoki-tmux/flexoki-bar.conf
  overlay/pkgs/flexoki-tmux/flexoki-tmux.nix
  overlay/pkgs/flexoki-tmux/flexoki.tmux
  overlay/pkgs/pkgs.nix
  overlay/pkgs/tmux-extras/cheatsheet.sh
  overlay/pkgs/tmux-extras/git-status.sh
  overlay/pkgs/tmux-extras/path-widget.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
Due: shellcheck, nixpkgs-fmt

feat(tmux): fix flexoki and add extras (#300)
  modules/cli/tmux.nix
  overlay/pkgs/flexoki-tmux/flexoki-bar.conf
  overlay/pkgs/flexoki-tmux/flexoki-tmux.nix
  overlay/pkgs/flexoki-tmux/flexoki.tmux
  overlay/pkgs/pkgs.nix
  overlay/pkgs/tmux-extras/cheatsheet.sh
  overlay/pkgs/tmux-extras/git-status.sh
  overlay/pkgs/tmux-extras/path-widget.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
Due: shellcheck, nixpkgs-fmt

feat(m1): add hammerspoon
  modules/darwin/hammerspoon/hammerspoon.nix
  modules/darwin/hammerspoon/init.lua
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(m1): add hammerspoon (#301)
  modules/darwin/hammerspoon/hammerspoon.nix
  modules/darwin/hammerspoon/init.lua
  modules/users/m1-fernando.nix
Due: nixpkgs-fmt

feat(opencode): add flexoki theme
  modules/dev/opencode.nix
Due: nixpkgs-fmt

feat(opencode): add flexoki theme (#302)
  modules/dev/opencode.nix
Due: nixpkgs-fmt

feat(tmux): add notify integration for opencode
  modules/cli/tmux.nix
  modules/dev/opencode.nix
  overlay/pkgs/flexoki-tmux/flexoki-bar.conf
  overlay/pkgs/tmux-extras/cheatsheet.sh
  overlay/pkgs/tmux-extras/notify-panel.sh
  overlay/pkgs/tmux-extras/notify-widget.sh
  overlay/pkgs/tmux-extras/notify.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
Due: shellcheck, nixpkgs-fmt

feat(tmux): add notify integration for opencode (#303)
  modules/cli/tmux.nix
  modules/dev/opencode.nix
  overlay/pkgs/flexoki-tmux/flexoki-bar.conf
  overlay/pkgs/tmux-extras/cheatsheet.sh
  overlay/pkgs/tmux-extras/notify-panel.sh
  overlay/pkgs/tmux-extras/notify-widget.sh
  overlay/pkgs/tmux-extras/notify.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
Due: shellcheck, nixpkgs-fmt

feat(tmux): add prefix+N to quick go to notification, fix menubar and accept permisison, error, and question from opencode
  modules/cli/tmux.nix
  overlay/pkgs/tmux-extras/cheatsheet.sh
  overlay/pkgs/tmux-extras/notify.sh
  overlay/pkgs/tmux-extras/path-widget.sh
Due: shellcheck, nixpkgs-fmt

feat(tmux): add prefix+N to quick go to notification, fix menubar and accept permisison, error, and question from opencode (#304)
  modules/cli/tmux.nix
  overlay/pkgs/tmux-extras/cheatsheet.sh
  overlay/pkgs/tmux-extras/notify.sh
  overlay/pkgs/tmux-extras/path-widget.sh
Due: shellcheck, nixpkgs-fmt

feat(tmux): ignore notification from the same active pane
  overlay/pkgs/tmux-extras/notify.sh
Due: shellcheck

feat(tmux): ignore notification from the same active pane (#305)
  overlay/pkgs/tmux-extras/notify.sh
Due: shellcheck

feat(tmux): multi monitor grouping
  modules/terminal/ghostty.nix
  overlay/pkgs/tmux-extras/cheatsheet.sh
  overlay/pkgs/tmux-extras/tmux-attach.sh
  overlay/pkgs/tmux-extras/tmux-extras.nix
  overlay/pkgs/tmux-extras/tmux-group.sh
  overlay/pkgs/tmux-extras/tmux-ungroup.sh
Due: shellcheck, nixpkgs-fmt

Path conditions:
  prettier-yaml: any of: \.(yaml|yml)$
  shellcheck: any of: \.sh$
  nixpkgs-fmt: any of: \.nix$
