Repository fersilva16/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-yaml, hlint, shellcheck, nixpkgs-fmt, statix, nix-linter

prettier-yaml:
  name: prettier-yaml
  language: system
  entry: prettier --write

hlint:
  name: hlint
  language: system
  entry: hlint

shellcheck:
  name: shellcheck
  language: system
  entry: shellcheck

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix check

nix-linter:
  name: nix-linter
  language: system
  entry: nix-linter

feat(vscode): update extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): update extensions (#106)
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(update): update
  flake.lock
Due: none

feat(update): update (#107)
  flake.lock
Due: none

feat(emacs): add undo-tree
  users/common/emacs/init.el
Due: none

feat(emacs): add undo-tree (#108)
  users/common/emacs/init.el
Due: none

refactor(xmonad): add types and remove unused code
  users/common/xmonad/config.hs
Due: hlint

refactor(xmonad): add types and remove unused code (#109)
  users/common/xmonad/config.hs
Due: hlint

feat(vscode): remove unused extensions
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): remove unused extensions (#110)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
  users/common/vscode/settings.json
Due: nixpkgs-fmt, statix, nix-linter

refactor(vscode): sort settings
  users/common/vscode/settings.json
Due: none

refactor(vscode): sort settings (#111)
  users/common/vscode/settings.json
Due: none

feat(emacs): add doom-one
  users/common/emacs/init.el
Due: none

feat(emacs): add doom-one (#112)
  users/common/emacs/init.el
Due: none

feat(fonts): remove font-awesome v6 overlay
  hosts/common/fonts.nix
  pkgs/font-awesome_6/font-awesome_6.nix
  pkgs/pkgs.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(fonts): remove font-awesome v6 overlay (#113)
  hosts/common/fonts.nix
  pkgs/font-awesome_6/font-awesome_6.nix
  pkgs/pkgs.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(fcitx): add fcitx5
  hosts/common/fcitx.nix
  hosts/common/i18n.nix
  hosts/g3.nix
  users/common/xmonad/xmonad.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(fcitx): add fcitx5 (#114)
  hosts/common/fcitx.nix
  hosts/common/i18n.nix
  hosts/g3.nix
  users/common/xmonad/xmonad.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add fcitx
  hosts/g3.nix
  users/common/fcitx.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): add fcitx (#115)
  hosts/g3.nix
  users/common/fcitx.nix
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(fcitx): add config
  users/common/fcitx.nix
  users/common/fcitx/classicui.conf
  users/common/fcitx/config.ini
  users/common/fcitx/fcitx.nix
  users/common/fcitx/profile.ini
  users/common/fcitx/theme.conf
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(fcitx): add config (#116)
  users/common/fcitx.nix
  users/common/fcitx/classicui.conf
  users/common/fcitx/config.ini
  users/common/fcitx/fcitx.nix
  users/common/fcitx/profile.ini
  users/common/fcitx/theme.conf
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(overlay): remove kitty-themes overlay
  overlay/kitty-themes.nix
  overlay/overlay.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(overlay): remove kitty-themes overlay (#117)
  overlay/kitty-themes.nix
  overlay/overlay.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(overlay): remove discord overlay
  overlay/discord.nix
  overlay/overlay.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(overlay): remove discord overlay (#118)
  overlay/discord.nix
  overlay/overlay.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): remove doom emacs
  flake.nix
  lib/mkHost.nix
  users/common/doom-emacs/doom-emacs.nix
  users/common/doom-emacs/doom.d/config.el
  users/common/doom-emacs/doom.d/init.el
  users/common/doom-emacs/doom.d/packages.el
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): remove doom emacs (#119)
  flake.nix
  lib/mkHost.nix
  users/common/doom-emacs/doom-emacs.nix
  users/common/doom-emacs/doom.d/config.el
  users/common/doom-emacs/doom.d/init.el
  users/common/doom-emacs/doom.d/packages.el
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add ocaml and coq extensions
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(vscode): add ocaml and coq extensions (#120)
  pkgs/my-vscode-extensions/extensions
  pkgs/my-vscode-extensions/extensions.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(home): use path in mkOutOfStoreSymLink
  users/common/emacs/emacs.nix
  users/common/vscode/vscode.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(home): use path in mkOutOfStoreSymLink (#121)
  users/common/emacs/emacs.nix
  users/common/vscode/vscode.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(fcitx): add symlink
  users/common/fcitx/fcitx.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(fcitx): add symlink (#122)
  users/common/fcitx/fcitx.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(fcitx): remove config and profile home files
  users/common/fcitx/fcitx.nix
Due: nixpkgs-fmt, statix, nix-linter

fix(fcitx): remove config and profile home files (#123)
  users/common/fcitx/fcitx.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(update): update (#124)
  flake.lock
Due: none

feat(home): disable fcitx
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

feat(home): disable fcitx (#125)
  users/fernando.nix
Due: nixpkgs-fmt, statix, nix-linter

Path conditions:
  prettier-yaml: any of: \.(yaml|yml)$
  hlint: any of: (\.hs|xmobarrc)$
  shellcheck: any of: \.sh$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  nix-linter: any of: \.nix$
